## Creating the input files which are intersection to the cleaned folders- Part2

In [3]:
import pandas as pd
import glob
import os

In [10]:
binary_folder_path = '/home/iscreen/Laterality_Data/Binary'
canon_folder_path = '/home/iscreen/Laterality_Data/Canon'
quad_folder_path = '/home/iscreen/Laterality_Data/Quad'
pent_folder_path = '/home/iscreen/Laterality_Data/Pent'

In [11]:
binary_folder_files = os.listdir(binary_folder_path)
canon_folder_files = os.listdir(canon_folder_path)
quad_folder_files = os.listdir(quad_folder_path)
pent_folder_files = os.listdir(pent_folder_path)

In [2]:
old_file1 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_binary.csv'
old_file2 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_canon_binary.csv'
old_file3 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_quad.csv'
old_file4 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_pent.csv'

In [4]:
df1 = pd.read_csv(old_file1)
df2 = pd.read_csv(old_file2)
df3 = pd.read_csv(old_file3)
df4 = pd.read_csv(old_file4)

In [5]:
df1.img = df1.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)
df2.img = df2.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)
df3.img = df3.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)
df4.img = df4.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)

In [6]:
df1.to_csv('/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/Final_Staged_Files/laterality_labels_binary.csv', index=False)
df2.to_csv('/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/Final_Staged_Files/laterality_labels_canon_binary.csv', index=False)
df3.to_csv('/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/Final_Staged_Files/laterality_labels_quad.csv', index=False)
df4.to_csv('/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/Final_Staged_Files/laterality_labels_pent.csv', index=False)

In [7]:
print(f'binary:{len(df1)}, canon:{len(df2)}, quad:{len(df3)}, pent:{len(df4)}')

binary:11402, canon:16179, quad:27579, pent:72739

In [12]:
print(f'binary:{len(binary_folder_files)}, canon:{len(canon_folder_files)}, quad:{len(quad_folder_files)}, pent:{len(pent_folder_files)}')

binary:8239, canon:11486, quad:19718, pent:54217

In [21]:
11402 - 3161

8241

In [13]:
binary_list_df = pd.DataFrame(binary_folder_files, columns=['img'])
canon_list_df = pd.DataFrame(canon_folder_files, columns=['img'])
quad_list_df = pd.DataFrame(quad_folder_files, columns=['img'])
pent_list_df = pd.DataFrame(pent_folder_files, columns=['img'])

In [14]:
print(f'binary:{len(binary_list_df)}, canon:{len(canon_list_df)}, quad:{len(quad_list_df)}, pent:{len(pent_list_df)}')

binary:8239, canon:11486, quad:19718, pent:54217

In [23]:
mod_binary = df1[df1['img'].isin(binary_folder_files)]
mod_canon = df2[df2['img'].isin(canon_folder_files)]
mod_quad = df3[df3['img'].isin(quad_folder_files)]
mod_pent = df4[df4['img'].isin(pent_folder_files)]

In [24]:
print(f'binary:{len(mod_binary)}, canon:{len(mod_canon)}, quad:{len(mod_quad)}, pent:{len(mod_pent)}')

binary:8241, canon:11487, quad:19727, pent:54381

In [35]:
uncommon_imgs = set(mod_pent['img']) ^ set(pent_list_df['img'])
uncommon_imgs

set()

In [39]:
duplicated_df1 = pent_list_df[pent_list_df.duplicated(subset='img')]
duplicated_df1

Empty DataFrame
Columns: [img]
Index: []

In [41]:
pent_list_df.drop_duplicates(subset=['img'], inplace=True)

In [38]:
duplicated_df = mod_pent[mod_pent.duplicated(subset='img')]
duplicated_df

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,Unsure,labels
58857,258857_1719104.JPG,0,0,0,1,0,0,Varun,NaN,4
58858,259003_1719666.JPG,0,1,0,0,0,0,Varun,NaN,1
58860,259054_1720092.JPG,0,0,0,0,1,0,Varun,NaN,2
58861,259102_1720493.JPG,0,0,0,1,0,0,Varun,NaN,4
58862,259180_1721114.JPG,0,0,0,0,0,1,Varun,NaN,3
...,...,...,...,...,...,...,...,...,...,...
59056,273584_1828592.JPG,1,0,0,0,0,0,Varun,NaN,0
59057,273712_1829680.JPG,0,0,0,1,0,0,Varun,NaN,4
59058,273756_1830010.JPG,0,0,0,1,0,0,Varun,NaN,4
59059,273823_1830572.JPG,0,0,0,0,0,1,Varun,NaN,3
59060,274086_1832229.JPG,0,0,0,0,1,0,Varun,NaN,2

In [37]:
duplicated_df1 = pent_list_df[pent_list_df.duplicated(keep=False)]
duplicated_df1

Empty DataFrame
Columns: [img]
Index: []

In [45]:
pent_list_df

                      img
0      187463_1202617.JPG
1      262963_1747797.JPG
2      266292_1771187.JPG
3      292446_1969263.JPG
4      208750_1360150.JPG
...                   ...
54212  211961_1383323.JPG
54213  319858_2187138.JPG
54214    75457_368432.JPG
54215  176316_1127911.JPG
54216  273370_1826829.JPG

[54217 rows x 1 columns]

In [ ]:
non_intersecting = pd.concat([df1, df2]).drop_duplicates(keep=False)

In [42]:
merged = pd.merge(mod_pent, pent_list_df, on='img', how='outer', indicator=True)

In [43]:
unique_to_mod_pent = merged[merged['_merge'] == 'left_only']
unique_to_pent_list_df = merged[merged['_merge'] == 'right_only']

In [44]:
unique_to_pent_list_df

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels, _merge]
Index: []

In [17]:
merged = pd.merge(df1, binary_list_df, on='img', how='outer', indicator=True)
merged

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,Unsure,labels,_merge
0,169867_1085472.JPG,0,1,0,0,0,0,Lynn,NaN,1,both
1,169867_1085477.JPG,1,0,0,0,0,0,Lynn,NaN,0,both
2,169883_1085597.JPG,0,1,0,0,0,0,Lynn,NaN,1,both
3,169883_1085599.JPG,0,1,0,0,0,0,Lynn,NaN,1,both
4,169883_1085602.JPG,1,0,0,0,0,0,Lynn,NaN,0,both
...,...,...,...,...,...,...,...,...,...,...,...
11397,193315_1246082.JPG,0,1,0,0,0,0,Arjun,NaN,1,both
11398,198783_1286282.JPG,0,1,0,0,0,0,Arjun,NaN,1,both
11399,233023_1533571.JPG,1,0,0,0,0,0,Arjun,NaN,0,both
11400,268017_1785608.JPG,1,0,0,0,0,0,Arjun,NaN,0,left_only
11401,268017_1785609.JPG,0,1,0,0,0,0,Arjun,NaN,1,left_only

In [19]:
unique_to_df1 = merged[merged['_merge'] == 'left_only']
unique_to_df2 = merged[merged['_merge'] == 'right_only']

In [20]:
unique_to_df1

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,Unsure,labels,_merge
8,170355_1088781.JPG,1,0,0,0,0,0,Lynn,NaN,0,left_only
42,172526_1103143.JPG,1,0,0,0,0,0,Lynn,NaN,0,left_only
43,172545_1103281.JPG,1,0,0,0,0,0,Lynn,NaN,0,left_only
44,172549_1103310.JPG,1,0,0,0,0,0,Lynn,NaN,0,left_only
58,173416_1109409.JPG,1,0,0,0,0,0,Lynn,NaN,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...
11386,277607_1859222.JPG,0,1,0,0,0,0,Arjun,NaN,1,left_only
11388,288574_1939484.JPG,0,1,0,0,0,0,Arjun,NaN,1,left_only
11392,317954_2171868.JPG,1,0,0,0,0,0,Arjun,NaN,0,left_only
11400,268017_1785608.JPG,1,0,0,0,0,0,Arjun,NaN,0,left_only
11401,268017_1785609.JPG,0,1,0,0,0,0,Arjun,NaN,1,left_only