In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_001.csv')
df1

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,169814_1085325.JPG,0,0,0,1,0,0
1,169814_1085328.JPG,0,0,0,1,0,0
2,169855_1085382.jpg,0,0,1,0,0,0
3,169855_1085384.jpg,0,0,0,1,0,0
4,169855_1085388.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
339,172951_1105952.jpg,0,0,0,0,1,0
340,172951_1105954.jpg,0,0,0,1,0,0
341,172960_1105998.JPG,0,0,1,0,0,0
342,172960_1105999.JPG,0,0,0,1,0,0
343,172960_1106005.JPG,0,0,0,1,0,0

In [4]:
df2 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_002.csv')
df3 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_003.csv')
df4 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_004.csv')
df5 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_005.csv')
df6 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_006.csv')
df7 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_007.csv')
df8 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_008.csv')
df9 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_009.csv')
df10 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_010.csv')
df11 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_011.csv')
df12 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_012.csv')
df13 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_013.csv')
df14 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_014.csv')
df15 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_015.csv')
df16 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_016.csv')
df17 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_017.csv')
df18 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_018.csv')
df19 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_019.csv')
df20 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_020.csv')
df21 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_021.csv')
df22 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_022.csv')
df23 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_023.csv')
df24 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_024_output_024.csv')
df25 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_025.csv')
df26 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_026.csv')
df27 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_027.csv')
df28 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_028.csv')
df29 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_029.csv')
df30 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_030.csv')
df31 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_031.csv')
df32 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_032.csv')
df33 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_033.csv')
df34 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_034.csv')
df35 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_035.csv')
df36 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_036.csv')
df37 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_037.csv')
df38 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_038.csv')
df39 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_039.csv')
df40 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_040.csv')
df41 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_041.csv')
df42 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_042.csv')
df43 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_043.csv')
df44 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_044.csv')
df45 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_045.csv')
df46 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_046.csv')
df47 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_047.csv')
df48 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_048.csv')
df49 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_049.csv')
df50 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_050.csv')
df51 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_051.csv')
df52 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_052.csv')
df53 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_053.csv')
df54 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_054.csv')
df55 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_055.csv')
df56 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_056.csv')
df57 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_057.csv')
df58 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_058.csv')
df59 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_059.csv')
df60 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_060.csv')
df61 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_061.csv')
df62 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_062.csv')
df63 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_063.csv')
df64 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_064.csv')
df65 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_065.csv')
df66 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_066.csv')
df67 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_067.csv')
df68 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Lynn_Sorted/assigned_classes_output_068.csv')

In [5]:
df2

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,172998_1106306.JPG,0,0,0,0,0,1
1,172998_1106309.JPG,0,1,0,0,0,0
2,173004_1106349.JPG,0,0,1,0,0,0
3,173004_1106352.JPG,1,0,0,0,0,0
4,173004_1106354.JPG,1,0,0,0,0,0
...,...,...,...,...,...,...,...
338,175896_1125320.JPG,0,0,0,0,1,0
339,175915_1125479.JPG,0,0,0,1,0,0
340,175972_1125914.JPG,0,0,0,0,1,0
341,175976_1125944.JPG,0,0,0,1,0,0
342,175986_1126015.JPG,0,1,0,0,0,0

In [6]:
df3

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,175986_1126017.JPG,0,0,0,0,1,0
1,175986_1126020.JPG,0,0,0,1,0,0
2,175986_1126021.JPG,0,0,0,1,0,0
3,176017_1126231.jpg,0,0,0,1,0,0
4,176017_1126232.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
342,180229_1153075.JPG,1,0,0,0,0,0
343,180244_1153181.JPG,0,0,0,1,0,0
344,180244_1153184.JPG,0,0,0,1,0,0
345,180273_1153401.JPG,0,0,1,0,0,0
346,180273_1153402.JPG,0,0,0,1,0,0

In [7]:
df4

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Right,Canon_Left
0,180273_1153408.JPG,0,0,0,1,0,0
1,180308_1153689.JPG,0,0,0,1,0,0
2,180325_1153823.JPG,0,0,0,1,0,0
3,180332_1153878.JPG,0,0,0,1,0,0
4,180332_1153883.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
353,183716_1178086.JPG,0,0,1,0,0,0
354,183725_1178158.JPG,0,0,1,0,0,0
355,183725_1178159.JPG,1,0,0,0,0,0
356,183761_1178432.jpg,0,0,0,1,0,0
357,183761_1178434.jpg,0,0,1,0,0,0

In [8]:
df5

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Right,Canon_Left
0,183778_1178575.JPG,0,0,0,1,0,0
1,183782_1178602.JPG,0,0,0,1,0,0
2,183782_1178605.JPG,0,0,0,0,0,1
3,183782_1178606.JPG,0,0,0,1,0,0
4,183800_1178753.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
355,186760_1197796.JPG,0,0,0,1,0,0
356,186760_1197802.JPG,0,0,0,1,0,0
357,186788_1198017.JPG,0,0,0,1,0,0
358,186788_1198024.JPG,0,0,0,1,0,0
359,186803_1198128.JPG,0,0,1,0,0,0

In [9]:
df6

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,186818_1198240.JPG,0,1,0,0,0,0
1,186818_1198245.JPG,0,0,0,1,0,0
2,186838_1198399.jpg,0,0,0,1,0,0
3,186841_1198419.jpg,0,0,0,1,0,0
4,186841_1198421.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,189321_1216054.jpg,0,0,0,1,0,0
356,189340_1216200.jpg,0,0,0,0,0,1
357,189340_1216203.jpg,0,0,1,0,0,0
358,189347_1216260.jpg,0,0,0,0,1,0
359,189347_1216261.jpg,0,0,0,0,1,0

In [10]:
df7

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,189347_1216262.jpg,0,0,0,0,1,0
1,189352_1216298.jpg,0,0,0,0,0,1
2,189352_1216303.jpg,0,0,0,0,1,0
3,189364_1216389.jpg,0,0,0,1,0,0
4,189366_1216409.JPG,0,0,0,0,1,0
...,...,...,...,...,...,...,...
355,191888_1234970.JPG,0,0,1,0,0,0
356,191888_1234972.JPG,0,0,0,1,0,0
357,191892_1235004.JPG,0,0,0,1,0,0
358,191913_1235150.JPG,1,0,0,0,0,0
359,191922_1235221.JPG,1,0,0,0,0,0

In [11]:
df8

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,191929_1235275.JPG,0,0,0,0,0,1
1,191929_1235280.JPG,0,0,0,1,0,0
2,191946_1235397.JPG,1,0,0,0,0,0
3,191948_1235414.jpg,1,0,0,0,0,0
4,191948_1235415.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
351,194672_1255834.JPG,0,0,0,1,0,0
352,194679_1255884.JPG,1,0,0,0,0,0
353,194684_1255922.jpg,1,0,0,0,0,0
354,194684_1255926.jpg,0,0,0,0,1,0
355,194690_1255972.JPG,0,0,0,0,0,1

In [12]:
df9

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,194690_1255975.JPG,0,0,0,0,1,0
1,194692_1255988.JPG,0,0,0,0,0,1
2,194692_1255990.JPG,0,0,0,0,1,0
3,194710_1256130.JPG,0,0,0,1,0,0
4,194710_1256132.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,197221_1274221.JPG,0,0,0,1,0,0
356,197223_1274228.jpg,0,0,1,0,0,0
357,197223_1274230.jpg,0,0,0,1,0,0
358,197223_1274233.jpg,0,0,0,1,0,0
359,197228_1274266.JPG,0,0,0,1,0,0

In [13]:
df10

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,197228_1274267.JPG,0,0,0,1,0,0
1,197238_1274352.JPG,0,0,0,1,0,0
2,197240_1274364.JPG,0,1,0,0,0,0
3,197240_1274368.JPG,1,0,0,0,0,0
4,197244_1274398.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
354,199750_1293302.JPG,0,0,0,1,0,0
355,199750_1293307.JPG,0,0,0,1,0,0
356,199757_1293360.JPG,0,0,1,0,0,0
357,199757_1293362.JPG,0,0,0,0,0,1
358,199762_1293398.JPG,0,0,1,0,0,0

In [14]:
df11

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,199762_1293399.JPG,0,0,0,0,0,1
1,199762_1293401.JPG,0,0,0,0,0,1
2,199766_1293435.JPG,0,0,0,1,0,0
3,199766_1293436.JPG,0,0,0,1,0,0
4,199844_1294045.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
351,202535_1314147.JPG,0,0,1,0,0,0
352,202535_1314148.JPG,0,0,0,1,0,0
353,202554_1314286.JPG,0,0,0,1,0,0
354,202554_1314288.JPG,0,0,0,1,0,0
355,202570_1314409.jpg,0,0,0,1,0,0

In [15]:
df12

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,202570_1314411.jpg,0,0,0,1,0,0
1,202591_1314557.jpg,0,0,0,1,0,0
2,202591_1314559.jpg,0,0,0,0,1,0
3,202594_1314578.JPG,0,0,1,0,0,0
4,202595_1314586.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
348,204668_1330396.jpg,0,0,0,1,0,0
349,204668_1330397.jpg,0,0,0,1,0,0
350,204672_1330422.jpg,0,0,0,1,0,0
351,204677_1330457.JPG,0,1,0,0,0,0
352,204694_1330599.jpg,0,0,1,0,0,0

In [16]:
df13

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,204694_1330600.jpg,0,0,0,0,1,0
1,204694_1330601.jpg,0,0,0,1,0,0
2,204694_1330602.jpg,0,0,0,1,0,0
3,204719_1330805.JPG,0,0,0,1,0,0
4,204726_1330855.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,206801_1346263.JPG,1,0,0,0,0,0
356,206842_1346554.JPG,0,0,1,0,0,0
357,206912_1347061.JPG,0,0,1,0,0,0
358,206946_1347341.JPG,0,0,1,0,0,0
359,206946_1347342.JPG,0,0,1,0,0,0

In [17]:
df14

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,206946_1347343.JPG,0,0,0,1,0,0
1,206946_1347344.JPG,0,0,0,1,0,0
2,206946_1347345.JPG,0,0,0,1,0,0
3,206946_1347349.JPG,0,0,0,1,0,0
4,206949_1347371.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
349,209555_1366271.JPG,0,0,0,1,0,0
350,209555_1366273.JPG,0,0,1,0,0,0
351,209555_1366274.JPG,0,0,0,0,1,0
352,209573_1366416.JPG,0,0,0,1,0,0
353,209573_1366418.JPG,0,0,1,0,0,0

In [18]:
df15

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,209583_1366489.JPG,0,0,1,0,0,0
1,209583_1366494.JPG,0,0,1,0,0,0
2,209583_1366495.JPG,0,0,0,1,0,0
3,209614_1366719.JPG,0,0,0,1,0,0
4,209619_1366749.JPG,0,0,0,0,1,0
...,...,...,...,...,...,...,...
348,212011_1383722.JPG,0,0,0,1,0,0
349,212024_1383824.jpg,0,0,0,0,1,0
350,212025_1383829.JPG,0,0,1,0,0,0
351,212043_1383971.JPG,0,0,0,1,0,0
352,212047_1383999.JPG,0,0,0,0,1,0

In [19]:
df16

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,212117_1384156.jpg,0,0,0,1,0,0
1,212126_1384227.JPG,0,1,0,0,0,0
2,212143_1384360.JPG,0,1,0,0,0,0
3,212143_1384362.JPG,0,1,0,0,0,0
4,212143_1384364.JPG,1,0,0,0,0,0
...,...,...,...,...,...,...,...
352,215223_1406562.JPG,0,0,0,1,0,0
353,215223_1406563.JPG,0,0,0,1,0,0
354,215232_1406627.jpg,0,0,1,0,0,0
355,215232_1406631.jpg,0,0,1,0,0,0
356,215232_1406633.jpg,0,0,0,1,0,0

In [20]:
df17

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,215243_1406693.JPG,0,0,1,0,0,0
1,215243_1406696.JPG,0,0,0,1,0,0
2,215243_1406697.JPG,0,0,1,0,0,0
3,215243_1406700.JPG,0,0,0,1,0,0
4,215256_1406792.jpg,0,0,0,0,0,1
...,...,...,...,...,...,...,...
352,217700_1424840.JPG,1,0,0,0,0,0
353,217706_1424891.JPG,0,0,0,1,0,0
354,217711_1424926.JPG,1,0,0,0,0,0
355,217711_1424927.JPG,0,0,0,1,0,0
356,217711_1424929.JPG,0,0,1,0,0,0

In [21]:
df18

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,217711_1424930.JPG,0,0,0,0,1,0
1,217711_1424932.JPG,0,0,0,1,0,0
2,217716_1424974.jpg,0,0,0,0,0,1
3,217716_1424977.jpg,0,0,1,0,0,0
4,217736_1425095.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
348,220259_1442398.JPG,0,0,1,0,0,0
349,220259_1442399.JPG,1,0,0,0,0,0
350,220260_1442408.JPG,0,0,0,1,0,0
351,220260_1442412.JPG,0,0,0,1,0,0
352,220263_1442432.JPG,0,0,0,1,0,0

In [22]:
df19

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,220267_1442461.JPG,0,0,1,0,0,0
1,220267_1442462.JPG,0,0,0,1,0,0
2,220267_1442463.JPG,0,0,0,1,0,0
3,220298_1442708.JPG,0,0,0,0,1,0
4,220298_1442710.JPG,1,0,0,0,0,0
...,...,...,...,...,...,...,...
353,222698_1460125.jpg,0,1,0,0,0,0
354,222698_1460128.jpg,1,0,0,0,0,0
355,222709_1460213.JPG,0,0,0,1,0,0
356,222709_1460218.JPG,0,0,0,1,0,0
357,222713_1460241.JPG,1,0,0,0,0,0

In [23]:
df20

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,222725_1460339.JPG,1,0,0,0,0,0
1,222728_1460360.jpg,0,0,1,0,0,0
2,222728_1460361.jpg,1,0,0,0,0,0
3,222728_1460364.jpg,0,0,1,0,0,0
4,222735_1460417.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
351,224932_1476682.JPG,0,0,0,1,0,0
352,224937_1476715.JPG,0,0,1,0,0,0
353,224937_1476716.JPG,1,0,0,0,0,0
354,224937_1476719.JPG,0,0,1,0,0,0
355,224937_1476722.JPG,0,0,0,1,0,0

In [24]:
df21

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,224956_1476871.JPG,0,0,0,0,1,0
1,224956_1476872.JPG,0,0,0,1,0,0
2,224965_1476939.JPG,1,0,0,0,0,0
3,224965_1476941.JPG,0,0,1,0,0,0
4,224970_1476981.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
342,227536_1495784.JPG,0,0,0,1,0,0
343,227536_1495786.JPG,0,0,1,0,0,0
344,227536_1495790.JPG,0,0,0,1,0,0
345,227537_1495793.JPG,0,1,0,0,0,0
346,227549_1495889.jpg,0,0,1,0,0,0

In [25]:
df22

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,227549_1495890.jpg,0,0,0,0,0,1
1,227549_1495894.jpg,0,0,0,0,1,0
2,227549_1495896.jpg,0,0,0,1,0,0
3,227552_1495913.jpg,0,0,1,0,0,0
4,227552_1495915.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
352,230148_1513926.JPG,0,0,1,0,0,0
353,230149_1513936.JPG,0,0,0,1,0,0
354,230149_1513940.JPG,0,0,0,1,0,0
355,230153_1513969.JPG,0,0,0,1,0,0
356,230153_1513970.JPG,0,0,1,0,0,0

In [26]:
df23

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,230160_1514027.JPG,0,0,0,1,0,0
1,230160_1514028.JPG,0,1,0,0,0,0
2,230160_1514029.JPG,0,0,1,0,0,0
3,230160_1514030.JPG,1,0,0,0,0,0
4,230160_1514032.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
347,233030_1533624.JPG,0,0,1,0,0,0
348,233030_1533627.JPG,0,0,0,0,1,0
349,233035_1533661.jpg,0,1,0,0,0,0
350,233035_1533666.jpg,0,0,0,1,0,0
351,233037_1533676.jpg,0,0,1,0,0,0

In [27]:
df24

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,233046_1533753.jpg,0,1,0,0,0,0
1,233056_1533829.JPG,0,0,0,1,0,0
2,233057_1533834.JPG,1,0,0,0,0,0
3,233059_1533849.jpg,0,0,1,0,0,0
4,233059_1533855.jpg,0,1,0,0,0,0
...,...,...,...,...,...,...,...
347,235777_1550890.JPG,0,0,0,1,0,0
348,235780_1550912.JPG,0,0,0,1,0,0
349,235780_1550913.JPG,0,0,0,1,0,0
350,235795_1551026.JPG,0,0,0,1,0,0
351,235795_1551029.JPG,0,0,1,0,0,0

In [28]:
df25

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,235800_1551067.jpg,0,1,0,0,0,0
1,235814_1551174.jpg,1,0,0,0,0,0
2,235829_1551295.JPG,0,1,0,0,0,0
3,235829_1551298.JPG,0,0,0,1,0,0
4,235830_1551301.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
354,238750_1569578.JPG,1,0,0,0,0,0
355,238750_1569579.JPG,1,0,0,0,0,0
356,238768_1574660.JPG,0,0,0,1,0,0
357,238768_1574661.JPG,0,0,0,1,0,0
358,238768_1574665.JPG,0,0,0,1,0,0

In [29]:
df26

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,238780_1578471.JPG,0,0,0,1,0,0
1,238780_1578472.JPG,0,0,0,1,0,0
2,238810_1569926.JPG,0,0,0,1,0,0
3,238810_1569928.JPG,0,0,1,0,0,0
4,238810_1569930.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
348,241034_1586239.JPG,0,0,1,0,0,0
349,241034_1586240.JPG,0,0,0,1,0,0
350,241050_1586333.JPG,0,0,1,0,0,0
351,241050_1586334.JPG,0,0,0,1,0,0
352,241050_1586337.JPG,0,0,0,1,0,0

In [30]:
df27

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,241050_1586338.JPG,0,0,0,1,0,0
1,241050_1586339.JPG,0,0,0,1,0,0
2,241079_1586556.JPG,0,0,0,1,0,0
3,241094_1586677.JPG,0,0,1,0,0,0
4,241115_1586885.JPG,0,0,0,0,1,0
...,...,...,...,...,...,...,...
348,243458_1603611.jpg,0,0,0,1,0,0
349,243458_1603612.jpg,0,0,1,0,0,0
350,243496_1603899.JPG,0,0,1,0,0,0
351,243496_1603902.JPG,0,0,0,1,0,0
352,243523_1603991.jpg,0,0,1,0,0,0

In [31]:
df28

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,243523_1603994.jpg,0,0,0,1,0,0
1,243523_1603997.jpg,0,0,0,1,0,0
2,243561_1604287.JPG,0,0,1,0,0,0
3,243565_1604314.JPG,0,0,1,0,0,0
4,243565_1604317.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
347,246065_1623295.JPG,0,0,0,1,0,0
348,246066_1623296.JPG,0,0,1,0,0,0
349,246066_1623301.JPG,0,0,0,1,0,0
350,246070_1623330.JPG,1,0,0,0,0,0
351,246070_1623331.JPG,1,0,0,0,0,0

In [32]:
df29

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,246070_1623332.JPG,0,0,0,1,0,0
1,246079_1623401.jpg,0,0,0,0,0,1
2,246079_1623405.jpg,0,0,0,0,1,0
3,246096_1623537.JPG,1,0,0,0,0,0
4,246124_1623748.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
348,248325_1639277.JPG,0,0,0,1,0,0
349,248358_1639568.JPG,0,0,0,1,0,0
350,248358_1639569.JPG,0,0,0,1,0,0
351,248377_1639693.JPG,0,0,0,1,0,0
352,248422_1639864.jpg,0,0,1,0,0,0

In [33]:
df30

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,248422_1639866.jpg,0,1,0,0,0,0
1,248422_1639867.jpg,1,0,0,0,0,0
2,248422_1639868.jpg,0,1,0,0,0,0
3,248427_1639906.jpg,0,1,0,0,0,0
4,248441_1640018.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
353,250890_1658695.JPG,0,0,0,0,0,1
354,250890_1658701.JPG,0,0,0,0,1,0
355,250894_1658728.jpg,0,0,1,0,0,0
356,250894_1658734.jpg,1,0,0,0,0,0
357,250925_1658964.JPG,1,0,0,0,0,0

In [34]:
df31

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,250938_1659070.JPG,0,0,0,1,0,0
1,250939_1659076.jpg,0,0,1,0,0,0
2,250939_1659082.jpg,0,0,0,1,0,0
3,250956_1659210.JPG,0,1,0,0,0,0
4,250957_1659216.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
349,253187_1686823.JPG,0,0,0,1,0,0
350,253187_1686824.JPG,0,0,0,1,0,0
351,253187_1686825.JPG,0,0,1,0,0,0
352,253187_1686827.JPG,0,0,0,1,0,0
353,253206_1675485.JPG,0,0,1,0,0,0

In [35]:
df32

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,253210_1675521.JPG,0,1,0,0,0,0
1,253210_1675523.JPG,1,0,0,0,0,0
2,253210_1675526.JPG,1,0,0,0,0,0
3,253222_1675618.jpg,0,0,0,1,0,0
4,253224_1675636.JPG,0,1,0,0,0,0
...,...,...,...,...,...,...,...
349,255411_1692278.JPG,0,0,0,1,0,0
350,255412_1692282.JPG,0,0,0,1,0,0
351,255412_1692287.JPG,0,0,0,1,0,0
352,255427_1692395.JPG,0,0,0,0,1,0
353,255427_1692397.JPG,0,0,0,0,1,0

In [36]:
df33

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,255430_1692420.JPG,0,0,0,1,0,0
1,255438_1692481.JPG,0,0,0,1,0,0
2,255445_1692535.jpg,0,0,1,0,0,0
3,255445_1692537.jpg,0,0,0,0,1,0
4,255454_1692606.jpg,0,0,1,0,0,0
...,...,...,...,...,...,...,...
350,257875_1711089.jpg,1,0,0,0,0,0
351,257879_1711149.jpg,0,1,0,0,0,0
352,257880_1711154.JPG,0,0,0,1,0,0
353,257882_1711176.JPG,0,0,0,1,0,0
354,257882_1711177.JPG,0,0,0,1,0,0

In [37]:
df34

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,257901_1711316.JPG,0,0,1,0,0,0
1,257901_1711318.JPG,0,0,0,1,0,0
2,257901_1711323.JPG,0,0,0,1,0,0
3,257901_1711324.JPG,0,0,1,0,0,0
4,257901_1711325.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
350,260485_1730223.jpg,0,0,0,1,0,0
351,260502_1730367.JPG,0,0,1,0,0,0
352,260502_1730371.JPG,0,0,1,0,0,0
353,260502_1730372.JPG,0,0,0,1,0,0
354,260504_1730385.JPG,1,0,0,0,0,0

In [38]:
df35

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,260504_1730386.JPG,0,0,0,1,0,0
1,260504_1730387.JPG,1,0,0,0,0,0
2,260504_1730389.JPG,0,0,0,0,1,0
3,260509_1730422.jpg,0,0,0,1,0,0
4,260533_1730615.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
352,263046_1748482.jpg,0,0,0,1,0,0
353,263083_1748744.jpg,0,0,0,1,0,0
354,263083_1748748.jpg,0,0,0,1,0,0
355,263083_1748749.jpg,0,0,0,1,0,0
356,263106_1748921.JPG,0,0,0,1,0,0

In [39]:
df36

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,263109_1748940.jpg,0,0,0,1,0,0
1,263109_1748944.jpg,0,0,0,1,0,0
2,263109_1748945.jpg,0,0,0,1,0,0
3,263112_1748962.jpg,0,0,1,0,0,0
4,263112_1748966.jpg,0,0,1,0,0,0
...,...,...,...,...,...,...,...
355,265717_1767094.JPG,0,0,0,1,0,0
356,265722_1767127.jpg,0,0,1,0,0,0
357,265758_1767288.JPG,0,0,1,0,0,0
358,265758_1767290.JPG,0,0,0,1,0,0
359,265758_1767292.JPG,0,0,1,0,0,0

In [40]:
df37

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,265767_1767345.jpg,0,0,1,0,0,0
1,265767_1767346.jpg,0,0,1,0,0,0
2,265767_1767347.jpg,0,0,0,1,0,0
3,265767_1767348.jpg,0,0,0,1,0,0
4,265767_1767350.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,268670_1790539.JPG,0,0,0,1,0,0
356,268670_1790541.JPG,0,0,0,1,0,0
357,268687_1790691.JPG,0,0,1,0,0,0
358,268687_1790692.JPG,0,0,0,1,0,0
359,268687_1790693.JPG,0,0,0,1,0,0

In [41]:
df38

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,268687_1790694.JPG,0,0,0,1,0,0
1,268687_1790695.JPG,0,0,1,0,0,0
2,268687_1790696.JPG,0,0,0,1,0,0
3,268691_1790730.JPG,0,0,0,1,0,0
4,268691_1790731.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,271200_1809724.jpg,0,0,0,1,0,0
356,271201_1809728.JPG,0,0,0,1,0,0
357,271206_1809772.jpg,0,0,1,0,0,0
358,271207_1809778.jpg,0,0,0,1,0,0
359,271207_1809779.jpg,0,0,0,1,0,0

In [42]:
df39

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,271221_1809909.jpg,0,0,0,1,0,0
1,271252_1810144.jpg,0,0,0,1,0,0
2,271252_1810148.jpg,0,0,0,0,1,0
3,271296_1810494.JPG,0,0,1,0,0,0
4,271296_1810495.JPG,0,0,0,0,1,0
...,...,...,...,...,...,...,...
352,273589_1828645.JPG,0,0,0,1,0,0
353,273589_1828647.JPG,0,0,1,0,0,0
354,273589_1828650.JPG,1,0,0,0,0,0
355,273600_1828743.JPG,0,0,1,0,0,0
356,273604_1828777.JPG,0,0,1,0,0,0

In [43]:
df40

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,273604_1828784.JPG,0,0,0,1,0,0
1,273609_1828817.JPG,0,0,1,0,0,0
2,273613_1828857.JPG,0,0,1,0,0,0
3,273622_1828940.JPG,0,0,0,0,0,1
4,273622_1828941.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
355,276322_1849199.JPG,0,0,0,1,0,0
356,276329_1849257.JPG,0,0,0,0,0,1
357,276329_1849262.JPG,0,0,0,1,0,0
358,276329_1849263.JPG,0,0,0,1,0,0
359,276337_1849318.JPG,0,0,1,0,0,0

In [44]:
df41

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,276337_1849320.JPG,0,0,0,1,0,0
1,276348_1849425.JPG,0,0,1,0,0,0
2,276348_1849427.JPG,0,0,0,1,0,0
3,276348_1849430.JPG,0,0,0,1,0,0
4,276389_1849793.JPG,0,1,0,0,0,0
...,...,...,...,...,...,...,...
353,279218_1871172.JPG,0,0,0,1,0,0
354,279218_1871177.JPG,0,0,0,1,0,0
355,279254_1871481.JPG,0,0,0,1,0,0
356,279254_1871483.JPG,0,0,0,1,0,0
357,279254_1871487.JPG,0,0,0,1,0,0

In [45]:
df42

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,279267_1871586.jpg,0,0,0,0,1,0
1,279302_1871624.jpg,1,0,0,0,0,0
2,279307_1871672.JPG,0,0,1,0,0,0
3,279312_1871711.jpg,0,0,0,1,0,0
4,279312_1871712.jpg,1,0,0,0,0,0
...,...,...,...,...,...,...,...
351,281380_1887786.JPG,0,0,0,1,0,0
352,281388_1887849.JPG,0,0,1,0,0,0
353,281388_1887853.JPG,0,0,1,0,0,0
354,281388_1887856.JPG,0,0,0,1,0,0
355,281388_1887857.JPG,0,0,0,1,0,0

In [46]:
df43

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,281394_1887900.JPG,0,0,1,0,0,0
1,281394_1887903.JPG,0,0,0,1,0,0
2,281394_1887905.JPG,0,0,0,1,0,0
3,281405_1887989.JPG,0,0,1,0,0,0
4,281414_1888074.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
352,283898_1906362.JPG,0,0,0,1,0,0
353,283898_1906366.JPG,0,0,0,1,0,0
354,283900_1906380.JPG,0,0,0,1,0,0
355,283901_1906386.JPG,0,0,0,1,0,0
356,283901_1906390.JPG,0,0,0,1,0,0

In [47]:
df44

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,283914_1906484.JPG,0,0,1,0,0,0
1,283914_1906488.JPG,0,0,1,0,0,0
2,283915_1906496.JPG,0,0,0,1,0,0
3,283915_1906500.JPG,0,0,0,1,0,0
4,283936_1906648.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
347,287004_1927223.JPG,0,0,0,1,0,0
348,287009_1927265.JPG,0,0,0,1,0,0
349,287009_1927266.JPG,0,0,0,1,0,0
350,287009_1927267.JPG,0,0,0,1,0,0
351,287015_1927331.JPG,0,0,0,1,0,0

In [48]:
df45

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,287018_1927359.JPG,0,0,0,1,0,0
1,287018_1927361.JPG,0,0,0,1,0,0
2,287018_1927365.JPG,0,0,0,1,0,0
3,287023_1927408.JPG,1,0,0,0,0,0
4,287023_1927409.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,289520_1947074.jpg,0,0,1,0,0,0
356,289521_1947078.JPG,0,0,1,0,0,0
357,289521_1947079.JPG,0,0,0,1,0,0
358,289545_1947280.JPG,1,0,0,0,0,0
359,289545_1947276.JPG,0,1,0,0,0,0

In [49]:
df46

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,289545_1947281.JPG,0,0,0,1,0,0
1,289548_1947303.JPG,0,0,0,0,1,0
2,289548_1947305.JPG,0,0,0,1,0,0
3,289550_1947317.jpg,0,0,0,0,0,1
4,289568_1947439.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,292042_1966593.jpg,1,0,0,0,0,0
356,292061_1966742.JPG,0,0,1,0,0,0
357,292061_1966743.JPG,0,0,1,0,0,0
358,292061_1966744.JPG,0,0,0,1,0,0
359,292070_1966810.JPG,0,0,1,0,0,0

In [50]:
df47

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,292070_1966811.JPG,0,0,0,1,0,0
1,292070_1966812.JPG,0,0,0,1,0,0
2,292082_1966907.JPG,0,0,0,0,0,1
3,292082_1966915.JPG,0,0,0,1,0,0
4,292129_1967296.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,293884_1980629.JPG,0,0,0,1,0,0
356,293884_1980630.JPG,0,0,1,0,0,0
357,293903_1980779.JPG,0,1,0,0,0,0
358,293903_1980785.JPG,0,0,0,1,0,0
359,293910_1980829.JPG,0,0,0,1,0,0

In [51]:
df48

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,293914_1980858.JPG,0,0,0,0,0,1
1,293971_1981320.JPG,0,0,1,0,0,0
2,293974_1981344.JPG,0,0,1,0,0,0
3,293974_1981348.JPG,0,0,1,0,0,0
4,294003_1981569.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
351,296447_2027710.JPG,0,0,0,1,0,0
352,296450_2000728.jpg,0,0,1,0,0,0
353,296450_2000731.jpg,0,0,0,1,0,0
354,296450_2000735.jpg,1,0,0,0,0,0
355,296452_2000747.jpg,0,1,0,0,0,0

In [52]:
df49

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,296452_2000752.jpg,0,0,0,1,0,0
1,296452_2000754.jpg,0,0,0,1,0,0
2,296452_2000755.jpg,0,0,0,1,0,0
3,296461_2000837.JPG,0,0,0,1,0,0
4,296461_2000840.JPG,1,0,0,0,0,0
...,...,...,...,...,...,...,...
355,298769_2018847.JPG,0,0,1,0,0,0
356,298769_2018849.JPG,0,1,0,0,0,0
357,298818_2019252.JPG,0,0,0,0,0,1
358,298828_2019333.jpg,0,0,0,1,0,0
359,298828_2019335.jpg,0,0,1,0,0,0

In [53]:
df50

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,298828_2019336.jpg,0,0,0,0,1,0
1,298850_2019507.JPG,0,0,0,1,0,0
2,298857_2019569.JPG,0,0,0,1,0,0
3,298867_2019658.JPG,0,0,0,1,0,0
4,298907_2020062.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
355,301102_2037473.jpg,0,0,1,0,0,0
356,301116_2037558.JPG,0,1,0,0,0,0
357,301122_2037597.JPG,0,0,0,1,0,0
358,301130_2037652.JPG,0,0,1,0,0,0
359,301130_2037653.JPG,0,0,0,1,0,0

In [54]:
df51

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,301130_2037658.JPG,0,0,0,1,0,0
1,301138_2037726.JPG,0,0,0,1,0,0
2,301171_2038056.JPG,1,0,0,0,0,0
3,301171_2038059.JPG,0,0,0,0,1,0
4,301171_2038061.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,303527_2056917.JPG,0,0,0,0,1,0
356,303527_2056919.JPG,0,0,0,1,0,0
357,303537_2056991.jpg,0,0,1,0,0,0
358,303537_2056993.jpg,1,0,0,0,0,0
359,303537_2056994.jpg,0,0,0,1,0,0

In [55]:
df52

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,303537_2056995.jpg,1,0,0,0,0,0
1,303537_2056997.jpg,0,0,0,1,0,0
2,303555_2057154.JPG,0,0,0,0,0,1
3,303555_2057157.JPG,0,0,1,0,0,0
4,303555_2057158.JPG,0,0,0,0,1,0
...,...,...,...,...,...,...,...
355,306033_2076923.jpg,1,0,0,0,0,0
356,306058_2077128.JPG,0,0,0,0,1,0
357,306068_2077214.jpg,0,1,0,0,0,0
358,306091_2077402.JPG,0,0,0,1,0,0
359,306104_2077511.JPG,0,0,0,1,0,0

In [56]:
df53

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,306119_2077633.JPG,0,0,0,0,1,0
1,306135_2077753.JPG,0,0,0,1,0,0
2,306135_2077755.JPG,0,0,0,1,0,0
3,306137_2077775.JPG,0,0,0,1,0,0
4,306137_2077779.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
355,308987_2100131.JPG,0,0,1,0,0,0
356,308987_2100135.JPG,0,0,0,1,0,0
357,308987_2100137.JPG,0,0,0,1,0,0
358,308987_2100139.JPG,0,0,0,1,0,0
359,309025_2100519.JPG,0,0,0,1,0,0

In [57]:
df54

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,309033_2100599.JPG,0,0,1,0,0,0
1,309033_2100602.JPG,0,0,0,1,0,0
2,309046_2101056.JPG,0,0,0,1,0,0
3,309057_2100823.JPG,0,0,0,1,0,0
4,309061_2100858.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
354,311266_2118445.jpg,0,1,0,0,0,0
355,311282_2118580.JPG,0,0,0,1,0,0
356,311304_2119089.JPG,0,0,1,0,0,0
357,311310_2125481.JPG,0,0,1,0,0,0
358,311344_2134100.JPG,0,0,0,1,0,0

In [58]:
df55

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,311347_2135243.JPG,0,0,0,0,0,1
1,311347_2135248.JPG,0,0,0,0,1,0
2,311358_2118792.JPG,0,0,0,1,0,0
3,311364_2118842.JPG,0,0,1,0,0,0
4,311364_2118844.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,313566_2136769.JPG,0,0,0,1,0,0
356,313569_2136789.JPG,0,0,0,1,0,0
357,313586_2136918.JPG,0,0,1,0,0,0
358,313586_2136921.JPG,0,0,0,1,0,0
359,313586_2136925.JPG,0,0,0,1,0,0

In [59]:
df56

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,313590_2136950.JPG,0,0,1,0,0,0
1,313590_2136951.JPG,0,0,0,1,0,0
2,313606_2137047.JPG,0,0,0,1,0,0
3,313612_2137137.JPG,0,0,1,0,0,0
4,313612_2137139.JPG,0,1,0,0,0,0
...,...,...,...,...,...,...,...
355,315463_2152245.JPG,0,0,0,1,0,0
356,315463_2152246.JPG,0,0,0,1,0,0
357,315463_2152251.JPG,1,0,0,0,0,0
358,315466_2152269.JPG,0,0,0,1,0,0
359,315474_2152327.JPG,0,0,1,0,0,0

In [60]:
df57

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,315474_2152329.JPG,0,0,0,1,0,0
1,315480_2152373.jpg,0,0,0,1,0,0
2,315480_2152374.jpg,0,0,0,1,0,0
3,315480_2152376.jpg,0,0,0,0,0,1
4,315518_2152677.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,318039_2172591.JPG,0,0,0,1,0,0
356,318052_2172699.JPG,0,0,0,1,0,0
357,318052_2172702.JPG,0,0,1,0,0,0
358,318052_2172703.JPG,0,0,0,1,0,0
359,318052_2172704.JPG,0,0,0,1,0,0

In [61]:
df58

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,318065_2172812.jpg,0,0,1,0,0,0
1,318076_2172903.JPG,0,0,0,1,0,0
2,318076_2172905.JPG,1,0,0,0,0,0
3,318090_2173006.JPG,0,0,1,0,0,0
4,318090_2173007.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
355,320434_2191292.jpg,0,0,0,1,0,0
356,320440_2191333.JPG,0,0,1,0,0,0
357,320440_2191337.JPG,0,0,1,0,0,0
358,320440_2191338.JPG,0,0,0,0,1,0
359,320462_2191502.jpg,0,0,0,1,0,0

In [62]:
df59

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,320462_2191503.jpg,0,0,0,1,0,0
1,320462_2191506.jpg,0,0,0,1,0,0
2,320477_2191618.jpg,0,0,1,0,0,0
3,320485_2191679.JPG,1,0,0,0,0,0
4,320487_2191690.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
355,322902_2210480.jpg,0,0,0,0,1,0
356,322902_2210481.jpg,0,0,0,0,1,0
357,322904_2210492.jpg,0,0,1,0,0,0
358,322904_2210498.jpg,0,0,0,1,0,0
359,322913_2210569.jpg,0,0,1,0,0,0

In [63]:
df60

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,322913_2210570.jpg,0,0,0,0,1,0
1,322917_2210597.JPG,0,1,0,0,0,0
2,322917_2210601.JPG,0,0,1,0,0,0
3,322917_2210603.JPG,1,0,0,0,0,0
4,322917_2210605.JPG,1,0,0,0,0,0
...,...,...,...,...,...,...,...
355,325339_2228778.jpg,0,0,0,1,0,0
356,325339_2228783.jpg,0,0,0,1,0,0
357,325339_2228784.jpg,0,0,0,1,0,0
358,325343_2228810.jpg,0,0,0,1,0,0
359,325343_2228811.jpg,0,0,0,1,0,0

In [64]:
df61

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,325343_2228814.jpg,0,0,0,1,0,0
1,325343_2228815.jpg,0,0,0,1,0,0
2,325343_2228816.jpg,0,0,0,1,0,0
3,325384_2229153.jpg,0,0,0,1,0,0
4,325402_2229291.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
354,327738_2247550.JPG,1,0,0,0,0,0
355,327738_2247551.JPG,0,0,0,1,0,0
356,327741_2247574.JPG,0,0,0,1,0,0
357,327742_2247581.JPG,0,0,1,0,0,0
358,327742_2247585.JPG,0,0,1,0,0,0

In [65]:
df62

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,327767_2247773.JPG,0,0,1,0,0,0
1,327767_2247774.JPG,1,0,0,0,0,0
2,327767_2247776.JPG,0,0,0,0,0,1
3,327785_2247958.JPG,0,1,0,0,0,0
4,327788_2247987.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
355,330509_2268550.JPG,0,0,0,1,0,0
356,330509_2268555.JPG,0,0,0,1,0,0
357,330515_2268600.jpg,0,0,0,1,0,0
358,330515_2268603.jpg,0,0,0,1,0,0
359,330534_2268754.JPG,0,0,0,1,0,0

In [66]:
df63

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,330543_2268823.jpg,0,0,1,0,0,0
1,330543_2268824.jpg,0,1,0,0,0,0
2,330545_2268839.JPG,0,0,1,0,0,0
3,330545_2268840.JPG,0,0,1,0,0,0
4,330545_2268841.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
355,332644_2285043.jpg,0,0,0,1,0,0
356,332673_2285263.JPG,1,0,0,0,0,0
357,332673_2285268.JPG,0,0,1,0,0,0
358,332682_2285327.jpg,0,0,1,0,0,0
359,332682_2285329.jpg,0,0,0,1,0,0

In [67]:
df64

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,332682_2285334.jpg,0,0,0,1,0,0
1,332695_2285428.JPG,0,0,0,1,0,0
2,332695_2285430.JPG,0,0,0,1,0,0
3,332729_2285686.jpg,0,0,0,1,0,0
4,332759_2285911.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
352,64152_295726.JPG,0,0,1,0,0,0
353,64152_295733.JPG,0,0,0,1,0,0
354,64156_295761.JPG,0,0,0,1,0,0
355,64156_295763.JPG,0,0,0,1,0,0
356,64156_295764.JPG,0,0,0,1,0,0

In [68]:
df65

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,64198_296035.JPG,0,0,0,1,0,0
1,64206_296103.JPG,0,0,1,0,0,0
2,64206_296104.JPG,0,0,0,0,0,1
3,64265_296558.JPG,0,0,1,0,0,0
4,64265_296562.JPG,0,0,1,0,0,0
...,...,...,...,...,...,...,...
346,68415_323708.JPG,1,0,0,0,0,0
347,68434_323845.JPG,0,0,1,0,0,0
348,68434_323848.JPG,0,0,0,1,0,0
349,68499_324352.JPG,0,0,0,1,0,0
350,68504_324397.JPG,0,0,1,0,0,0

In [69]:
df66

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,68504_324401.JPG,0,0,1,0,0,0
1,68540_324676.JPG,0,0,0,1,0,0
2,68540_324677.JPG,0,0,0,1,0,0
3,68570_324889.JPG,0,0,0,1,0,0
4,68570_324890.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
348,71719_345072.JPG,0,0,0,1,0,0
349,71719_345073.JPG,0,0,1,0,0,0
350,71719_345074.JPG,0,0,0,1,0,0
351,71748_345292.JPG,0,0,1,0,0,0
352,71766_345425.JPG,0,0,0,0,1,0

In [70]:
df67

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,71778_345525.JPG,0,0,0,1,0,0
1,71854_346118.JPG,0,0,1,0,0,0
2,71854_346119.JPG,1,0,0,0,0,0
3,71854_346124.JPG,0,0,0,1,0,0
4,71854_346125.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
351,75098_365878.jpg,0,0,1,0,0,0
352,75098_365881.jpg,0,0,0,1,0,0
353,75098_365882.jpg,0,0,1,0,0,0
354,75099_365886.JPG,0,0,0,0,0,1
355,75099_365891.JPG,0,0,0,0,1,0

In [71]:
df68

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,75099_365893.JPG,0,0,1,0,0,0
1,75100_365895.JPG,0,0,1,0,0,0
2,75100_365896.JPG,0,1,0,0,0,0
3,75100_365899.JPG,1,0,0,0,0,0
4,75100_365900.JPG,1,0,0,0,0,0
...,...,...,...,...,...,...,...
117,76067_372960.JPG,0,0,0,1,0,0
118,76075_1084661.JPG,0,0,1,0,0,0
119,76075_1084664.JPG,0,0,0,1,0,0
120,76091_1084791.JPG,0,0,0,1,0,0
121,76091_1084795.JPG,0,0,0,1,0,0

In [73]:
total_Lynn = pd.concat([df1, df2, df3, df4, df5,df6, df7, df8, df9, df10,df11, df12, df13, df14, df15,df16, df17, df18, df19, df20,df21, df22, df23, df24, df25,df26, df27, df28, df29, df30,df31, df32, df33, df34, df35,df36, df37, df38, df39, df40,df41, df42, df43, df44, df45,df46, df47, df48, df49, df50,df51, df52, df53, df54, df55,df56, df57, df58, df59, df60, df61, df62, df63, df64, df65,df66, df67, df68])
total_Lynn

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right
0,169814_1085325.JPG,0,0,0,1,0,0
1,169814_1085328.JPG,0,0,0,1,0,0
2,169855_1085382.jpg,0,0,1,0,0,0
3,169855_1085384.jpg,0,0,0,1,0,0
4,169855_1085388.jpg,0,0,0,1,0,0
...,...,...,...,...,...,...,...
117,76067_372960.JPG,0,0,0,1,0,0
118,76075_1084661.JPG,0,0,1,0,0,0
119,76075_1084664.JPG,0,0,0,1,0,0
120,76091_1084791.JPG,0,0,0,1,0,0
121,76091_1084795.JPG,0,0,0,1,0,0

In [82]:
total_Lynn.to_csv("/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/total_lynn.csv")

In [75]:
total_Lynn['Interior_Left'].sum()

2423

In [77]:
total_Lynn['Interior_Right'].sum()

1532

In [78]:
total_Lynn['Exterior'].sum()

5773

In [79]:
total_Lynn['Other'].sum()

11545

In [80]:
total_Lynn['Canon_Left'].sum()

1717

In [81]:
total_Lynn['Canon_Right'].sum()

1018