In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_001.csv')
df2 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_002.csv')
df3 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_003.csv')
df4 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_004.csv')
df5 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_005.csv')
df6 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_006.csv')
df7 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_007.csv')
df8 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_008.csv')
df9 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_009.csv')
df10 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_010.csv')
df11 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_011.csv')
df12 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_012.csv')
df13 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_013.csv')
df14 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_014.csv')
df15 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_015.csv')
df16 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_016.csv')
df17 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_017.csv')
df18 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_018.csv')
df19 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_019.csv')
df20 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_020.csv')
df21 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_021.csv')
df22 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_022.csv')
df23 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_023.csv')
df24 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_024.csv')
df25 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_025.csv')
df26 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_026.csv')
df27 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_027.csv')
df28 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_028.csv')
df29 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_029.csv')
df30 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_030.csv')
df31 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_031.csv')
df32 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_032.csv')
df33 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_033.csv')
df34 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_034.csv')
df35 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_035.csv')
df36 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_036.csv')
df37 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_037.csv')
df38 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_038.csv')
df39 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_039.csv')
df40 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_040.csv')
df41 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_041.csv')
df42 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_042.csv')
df43 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_043.csv')
df44 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_044.csv')
df45 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_045.csv')
df46 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_046.csv')
df47 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_047.csv')
df48 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_048.csv')
df49 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_049.csv')
df50 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_050.csv')
df51 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_051.csv')
df52 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_052.csv')
df53 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_053.csv')
df54 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_054.csv')
df55 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_055.csv')
df56 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_056.csv')
df57 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_057.csv')
df58 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_058.csv')
df59 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_059.csv')
df60 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_060.csv')
df61 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_061.csv')
df62 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_062.csv')
df63 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_063.csv')
df64 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_064.csv')
df65 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_065.csv')
df66 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_066.csv')
df67 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_067.csv')
df68 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_068.csv')
df69 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_069.csv')
df70 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_070.csv')
df71 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_071.csv')
df72 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_072.csv')
df73 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_073.csv')
df74 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_074.csv')
df75 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_075.csv')
df76 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_076.csv')
df77 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_077.csv')
df78 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_078.csv')
df79 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_079.csv')
df80 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_080.csv')
df81 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_081.csv')
df82 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_082.csv')
df83 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_083.csv')
df84 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_084.csv')
df85 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_085.csv')
df86 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_086.csv')
df87 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_087.csv')
df88 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_088.csv')
df89 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_089.csv')
df90 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_090.csv')
df91 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_091.csv')
df92 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_092.csv')
df93 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_093.csv')
df94 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_094.csv')
df95 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_095.csv')
df96 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_096.csv')
df97 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_097.csv')
df98 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Ignacio_Sorted/assigned_classes_output_098.csv')

In [3]:
df1

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,170910_1092646.JPG,0,0,0,0,1,0,0
1,170315_1088495.JPG,0,0,0,0,0,1,0
2,171742_1097821.JPG,0,0,1,0,0,0,0
3,172040_1100273.JPG,1,0,0,0,0,0,0
4,170100_1086894.JPG,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
229,170585_1090477.JPG,0,0,0,0,0,1,0
230,170331_1088615.JPG,0,0,0,0,0,1,0
231,170589_1090511.JPG,0,1,0,0,0,0,0
232,171054_1093034.JPG,0,0,0,1,0,0,0
233,171434_1095494.JPG,0,0,0,0,0,1,0

In [4]:
df2

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,174184_1114199.JPG,0,0,0,0,1,0,0
1,172510_1103020.jpg,0,0,0,0,0,1,0
2,173287_1108506.JPG,0,0,0,1,0,0,0
3,173158_1107597.JPG,0,0,0,0,1,0,0
4,172626_1103517.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,172315_1101972.JPG,0,1,0,0,0,0,0
246,174101_1113709.jpg,1,0,0,0,0,0,0
247,172629_1103547.JPG,0,0,0,0,0,1,0
248,172836_1105122.JPG,1,0,0,0,0,0,0
249,173823_1111743.jpg,0,0,0,0,1,0,0

In [5]:
df3

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,175439_1122428.JPG,1,0,0,0,0,0,0
1,175915_1125477.JPG,0,0,0,0,0,1,0
2,174939_1119220.JPG,1,0,0,0,0,0,0
3,175986_1126016.JPG,0,0,0,0,0,1,0
4,176457_1128594.jpg,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
228,176654_1130027.jpg,0,0,0,0,1,0,0
229,176201_1127197.JPG,0,0,0,0,0,1,0
230,176438_1128460.JPG,0,1,0,0,0,0,0
231,174997_1119669.JPG,0,0,0,0,1,0,0
232,175882_1125211.jpg,0,0,1,0,0,0,0

In [7]:
df4

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,177124_1131903.JPG,0,0,0,0,0,1,0
1,178875_1143760.JPG,0,0,0,0,0,0,1
2,177134_1132000.JPG,0,0,0,0,1,0,0
3,178286_1139729.jpg,0,0,1,0,0,0,0
4,177967_1137342.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
237,179155_1145981.JPG,0,0,0,0,0,1,0
238,178921_1144134.JPG,0,0,0,0,0,0,1
239,178577_1141919.JPG,0,0,1,0,0,0,0
240,178474_1141227.JPG,0,1,0,0,0,0,0
241,176671_1130165.JPG,0,0,0,1,0,0,0

In [8]:
df5

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,181215_1159950.JPG,0,0,1,0,0,0,0
1,180804_1156857.jpg,0,0,1,0,0,0,0
2,180899_1157582.JPG,0,0,0,0,0,1,0
3,179722_1149632.JPG,0,0,1,0,0,0,0
4,181803_1164146.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
236,180051_1151996.JPG,0,0,0,0,1,0,0
237,181458_1161476.JPG,0,0,0,0,1,0,0
238,181894_1164854.JPG,0,0,0,1,0,0,0
239,179882_1150836.JPG,0,0,0,0,0,1,0
240,181806_1164173.JPG,0,0,0,0,0,1,0

In [9]:
df6

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,183920_1179710.JPG,0,0,0,0,0,1,0
1,183340_1175360.JPG,1,0,0,0,0,0,0
2,183671_1177734.JPG,0,0,0,1,0,0,0
3,183782_1178604.JPG,0,0,0,1,0,0,0
4,182939_1172309.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
240,181976_1165511.JPG,0,0,0,1,0,0,0
241,183559_1176859.JPG,0,0,0,0,1,0,0
242,183557_1176842.JPG,0,0,0,0,0,1,0
243,183915_1179670.JPG,0,0,0,1,0,0,0
244,182647_1170038.JPG,0,0,0,0,0,1,0

In [10]:
df7

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,184847_1185397.JPG,0,0,0,0,0,1,0
1,184685_1184131.JPG,0,0,0,0,0,1,0
2,186375_1194684.JPG,0,0,0,0,0,1,0
3,185331_1188253.jpg,0,0,0,1,0,0,0
4,184981_1186484.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,184301_1182541.jpg,0,0,0,1,0,0,0
246,186092_1192705.JPG,0,0,0,0,1,0,0
247,185674_1190765.JPG,1,0,0,0,0,0,0
248,185167_1192670.JPG,0,0,0,0,0,1,0
249,184874_1185652.jpg,0,0,0,0,0,1,0

In [11]:
df8

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,187989_1205909.JPG,0,0,0,0,1,0,0
1,186740_1197626.jpg,0,0,1,0,0,0,0
2,187814_1204559.JPG,0,0,0,1,0,0,0
3,187714_1204055.jpg,0,0,0,1,0,0,0
4,187810_1204526.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
244,188170_1207247.JPG,0,0,1,0,0,0,0
245,187603_1203322.JPG,0,0,0,0,1,0,0
246,188301_1208273.JPG,0,1,0,0,0,0,0
247,186721_1197454.jpg,0,0,1,0,0,0,0
248,186842_1198425.JPG,0,0,0,0,0,1,0

In [12]:
df9

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,188453_1209412.JPG,0,0,1,0,0,0,0
1,189539_1217645.JPG,0,0,0,0,0,1,0
2,189194_1215060.JPG,0,0,0,0,1,0,0
3,188350_1208632.JPG,0,0,0,0,0,1,0
4,189194_1215061.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,188738_1211502.JPG,0,0,0,0,0,1,0
246,189321_1216052.jpg,0,0,0,0,0,1,0
247,189340_1216205.jpg,0,0,0,1,0,0,0
248,188552_1210112.JPG,0,0,0,1,0,0,0
249,189493_1217335.jpg,0,0,0,1,0,0,0

In [13]:
df10

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,190932_1228465.jpg,0,0,0,0,0,1,0
1,190590_1225817.JPG,0,0,0,0,0,1,0
2,190169_1222531.JPG,0,0,0,0,1,0,0
3,190143_1222348.JPG,0,0,1,0,0,0,0
4,190723_1226862.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,190173_1222563.JPG,0,0,0,0,0,1,0
246,191074_1229578.JPG,0,0,0,0,0,1,0
247,190206_1222826.jpg,0,0,0,1,0,0,0
248,190383_1224207.jpg,0,0,0,0,1,0,0
249,190813_1227536.JPG,0,0,0,0,0,1,0

In [14]:
df11

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,192582_1240349.JPG,0,0,1,0,0,0,0
1,193090_1244300.JPG,0,0,1,0,0,0,0
2,193256_1245605.JPG,0,0,1,0,0,0,0
3,192930_1243042.JPG,0,0,0,0,0,1,0
4,193045_1243960.JPG,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
240,191949_1235423.JPG,0,0,0,0,1,0,0
241,193256_1245608.JPG,0,0,0,0,0,1,0
242,193143_1244713.JPG,0,0,0,0,0,1,0
243,193177_1244980.JPG,0,0,0,0,0,1,0
244,191940_1235352.JPG,0,0,0,1,0,0,0

In [15]:
df12

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,194491_1254433.JPG,0,0,1,0,0,0,0
1,193573_1248065.jpg,0,0,0,0,0,1,0
2,193402_1246809.JPG,0,0,1,0,0,0,0
3,194959_1258105.JPG,0,0,0,0,0,1,0
4,194053_1251721.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,194213_1252756.JPG,0,0,0,0,0,1,0
246,193662_1248789.JPG,0,0,1,0,0,0,0
247,193905_1250589.JPG,0,0,0,0,0,1,0
248,193852_1250157.JPG,0,0,0,1,0,0,0
249,195153_1259583.JPG,0,1,0,0,0,0,0

In [16]:
df13

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,196017_1266003.JPG,0,0,0,0,1,0,0
1,197188_1273973.jpg,0,0,0,0,1,0,0
2,195818_1264451.JPG,0,0,0,0,0,1,0
3,196325_1268348.JPG,0,0,0,0,1,0,0
4,196667_1270737.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,196325_1268351.JPG,0,0,0,0,0,1,0
246,195731_1263784.jpg,0,0,1,0,0,0,0
247,197193_1274013.JPG,0,1,0,0,0,0,0
248,197069_1273024.JPG,1,0,0,0,0,0,0
249,195839_1264617.JPG,0,0,1,0,0,0,0

In [17]:
df14

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,197971_1280036.JPG,0,0,0,0,0,1,0
1,198485_1284018.JPG,0,0,0,0,1,0,0
2,198748_1286010.JPG,0,0,0,0,0,1,0
3,198569_1284679.jpg,0,0,0,1,0,0,0
4,199144_1289075.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
243,197489_1276293.jpg,0,0,0,0,0,1,0
244,198748_1286009.JPG,0,0,0,0,0,1,0
245,199054_1288390.JPG,0,0,1,0,0,0,0
246,198525_1284336.jpg,0,0,0,1,0,0,0
247,197692_1277799.jpg,0,0,0,0,1,0,0

In [18]:
df15

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,200090_1295963.JPG,0,0,1,0,0,0,0
1,200532_1299335.jpg,0,0,0,0,0,1,0
2,200541_1299408.jpg,0,0,0,0,0,1,0
3,200165_1296548.JPG,0,0,1,0,0,0,0
4,200454_1298732.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,200943_1302279.JPG,0,0,0,0,0,1,0
246,201093_1303416.JPG,0,0,0,0,0,1,0
247,200455_1298745.JPG,0,0,0,0,0,1,0
248,199570_1291899.JPG,0,0,0,0,0,1,0
249,200483_1298967.JPG,0,0,0,1,0,0,0

In [19]:
df16

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,202041_1310319.JPG,0,0,0,1,0,0,0
1,201947_1309602.JPG,0,0,0,0,0,1,0
2,202714_1315482.jpg,0,0,0,0,1,0,0
3,201440_1305731.JPG,0,0,0,0,0,1,0
4,202494_1313840.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
240,201592_1306877.JPG,0,0,0,0,0,1,0
241,202061_1310469.JPG,0,0,1,0,0,0,0
242,201471_1305982.JPG,0,0,0,0,0,1,0
243,201493_1306157.JPG,0,0,1,0,0,0,0
244,201586_1306832.JPG,0,0,0,0,0,1,0

In [20]:
df17

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,204097_1325954.JPG,0,0,0,0,0,1,0
1,203676_1322809.JPG,0,0,0,0,0,1,0
2,203456_1321082.JPG,0,0,0,0,0,1,0
3,203944_1324791.JPG,0,0,0,0,0,1,0
4,203443_1320981.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
241,203985_1325089.JPG,0,0,1,0,0,0,0
242,203707_1323039.JPG,0,0,0,1,0,0,0
243,202835_1316414.JPG,0,0,0,0,1,0,0
244,203738_1323252.JPG,0,0,0,0,0,1,0
245,204097_1325959.JPG,1,0,0,0,0,0,0

In [21]:
df18

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,204843_1331558.jpg,0,0,0,1,0,0,0
1,205492_1336653.JPG,0,0,0,0,0,1,0
2,205319_1335314.JPG,0,0,0,0,0,1,0
3,205168_1334127.jpg,0,0,0,0,0,1,0
4,205189_1334286.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
243,205400_1335906.JPG,0,0,1,0,0,0,0
244,204991_1332772.JPG,0,0,0,0,1,0,0
245,204751_1331057.JPG,0,0,1,0,0,0,0
246,204721_1330822.jpg,0,0,0,0,0,1,0
247,204948_1332448.JPG,0,0,0,0,1,0,0

In [22]:
df19

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,206320_1342888.JPG,0,0,0,1,0,0,0
1,206587_1344917.JPG,1,0,0,0,0,0,0
2,205715_1338421.JPG,0,0,0,0,0,1,0
3,207202_1348615.JPG,0,0,1,0,0,0,0
4,207421_1349958.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
236,206064_1340776.JPG,0,0,0,0,0,1,0
237,206126_1341249.jpg,0,0,1,0,0,0,0
238,205888_1339359.JPG,1,0,0,0,0,0,0
239,206623_1345210.JPG,0,0,1,0,0,0,0
240,205636_1337816.JPG,0,0,0,0,0,1,0

In [23]:
df20

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,208750_1360151.JPG,0,0,0,0,0,1,0
1,208639_1359296.JPG,0,0,1,0,0,0,0
2,208905_1361356.JPG,0,0,0,0,0,1,0
3,208698_1359739.JPG,0,0,0,0,1,0,0
4,208890_1361252.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
243,209177_1363276.JPG,0,0,1,0,0,0,0
244,208863_1361047.JPG,0,0,0,0,0,1,0
245,208568_1358730.JPG,0,0,0,1,0,0,0
246,208860_1361034.JPG,0,0,0,1,0,0,0
247,208340_1357084.JPG,0,0,0,1,0,0,0

In [24]:
df21

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,210120_1370489.JPG,0,0,1,0,0,0,0
1,209465_1365569.JPG,0,0,0,1,0,0,0
2,210090_1370342.JPG,0,0,0,0,1,0,0
3,210904_1375466.JPG,0,0,0,0,0,1,0
4,210350_1372108.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
244,209364_1364765.JPG,1,0,0,0,0,0,0
245,209705_1367364.JPG,0,0,0,0,0,1,0
246,209364_1364764.JPG,0,0,0,0,0,1,0
247,209230_1363707.JPG,0,0,0,0,0,1,0
248,210134_1370577.JPG,0,0,0,0,1,0,0

In [25]:
df22

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,212821_1389132.JPG,0,0,0,1,0,0,0
1,211265_1378218.JPG,0,1,0,0,0,0,0
2,211838_1382405.JPG,0,0,0,0,0,1,0
3,211273_1378282.JPG,1,0,0,0,0,0,0
4,211758_1381765.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
239,212022_1383801.jpg,0,0,1,0,0,0,0
240,211219_1377860.JPG,0,0,0,1,0,0,0
241,211727_1381523.JPG,0,0,0,0,0,1,0
242,211996_1383604.jpg,0,0,0,0,0,1,0
243,211687_1381204.jpg,0,0,0,0,0,1,0

In [26]:
df23

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,212889_1389662.JPG,0,0,0,0,0,1,0
1,213198_1391585.jpg,0,0,1,0,0,0,0
2,213713_1395576.JPG,0,0,0,0,0,1,0
3,214481_1401110.JPG,0,0,1,0,0,0,0
4,213707_1395532.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
241,214074_1398279.jpg,0,0,1,0,0,0,0
242,214638_1402326.JPG,0,0,0,0,0,1,0
243,213630_1394950.JPG,0,0,0,0,0,1,0
244,214172_1399057.JPG,0,0,0,0,0,1,0
245,213672_1395285.jpg,0,0,0,0,0,1,0

In [27]:
df24

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,216360_1414740.JPG,0,0,1,0,0,0,0
1,215256_1406791.jpg,0,0,0,0,1,0,0
2,215325_1407343.jpg,0,0,0,0,0,1,0
3,215867_1411561.JPG,0,0,0,0,0,1,0
4,215646_1409842.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
242,215223_1406559.JPG,0,0,0,0,0,1,0
243,215480_1408543.JPG,0,0,0,0,0,1,0
244,215415_1408059.jpg,0,0,0,1,0,0,0
245,215096_1405639.JPG,0,0,0,1,0,0,0
246,215221_1406545.JPG,0,0,0,0,0,1,0

In [28]:
df25

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,217017_1419679.JPG,1,0,0,0,0,0,0
1,218083_1427801.jpg,0,0,1,0,0,0,0
2,218068_1427680.JPG,0,0,0,1,0,0,0
3,217359_1422410.JPG,0,0,1,0,0,0,0
4,217581_1423915.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
241,217123_1420517.JPG,0,0,1,0,0,0,0
242,217036_1419826.JPG,0,0,0,0,0,1,0
243,217427_1422953.jpg,0,0,0,0,0,1,0
244,217716_1424979.jpg,0,0,0,1,0,0,0
245,217017_1419674.JPG,0,0,1,0,0,0,0

In [29]:
df26

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,218781_1432554.JPG,0,0,1,0,0,0,0
1,219778_1439240.jpg,0,0,0,0,0,1,0
2,218839_1433015.jpg,0,0,0,0,0,1,0
3,218246_1428816.JPG,0,0,1,0,0,0,0
4,219110_1434499.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
244,219155_1434856.JPG,0,0,0,0,0,1,0
245,218880_1433331.jpg,0,0,0,0,0,1,0
246,218969_1433794.JPG,0,0,1,0,0,0,0
247,218755_1432347.jpg,0,0,0,0,1,0,0
248,218768_1432455.JPG,0,0,1,0,0,0,0

In [30]:
df27

,img,Left_interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,220596_1444914.jpg,0,0,0,0,0,1,0
1,221629_1452192.jpg,0,0,0,0,0,1,0
2,222061_1455627.JPG,0,0,0,0,0,1,0
3,221458_1450858.JPG,0,0,0,0,0,1,0
4,221111_1448746.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
241,221178_1449280.JPG,0,0,0,0,0,1,0
242,220747_1446088.jpg,0,0,1,0,0,0,0
243,221512_1451297.JPG,0,0,0,0,0,1,0
244,221568_1451740.jpg,0,0,0,0,0,1,0
245,220531_1444386.jpg,0,0,0,0,0,1,0

In [6]:
df27.rename(columns={'Left_interior':"Left_Interior"}, inplace=True)
df27

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,220596_1444914.jpg,0,0,0,0,0,1,0
1,221629_1452192.jpg,0,0,0,0,0,1,0
2,222061_1455627.JPG,0,0,0,0,0,1,0
3,221458_1450858.JPG,0,0,0,0,0,1,0
4,221111_1448746.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
241,221178_1449280.JPG,0,0,0,0,0,1,0
242,220747_1446088.jpg,0,0,1,0,0,0,0
243,221512_1451297.JPG,0,0,0,0,0,1,0
244,221568_1451740.jpg,0,0,0,0,0,1,0
245,220531_1444386.jpg,0,0,0,0,0,1,0

In [31]:
df28

,img,Left_interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,223447_1465997.JPG,0,0,1,0,0,0,0
1,222738_1460441.jpg,0,0,0,0,0,1,0
2,222082_1455798.JPG,0,0,0,0,1,0,0
3,222866_1461441.jpg,0,0,0,0,0,1,0
4,222452_1458609.jpg,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
241,223309_1464891.JPG,0,0,0,0,0,1,0
242,222183_1456607.JPG,0,0,0,0,0,1,0
243,222558_1459410.JPG,0,0,0,0,0,1,0
244,223921_1469368.jpg,0,0,0,1,0,0,0
245,222735_1460418.jpg,0,0,1,0,0,0,0

In [7]:
df28.rename(columns={'Left_interior':"Left_Interior"}, inplace=True)

In [32]:
df29

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,225318_1479690.JPG,0,0,0,1,0,0,0
1,224385_1472513.JPG,0,0,0,1,0,0,0
2,225292_1479490.JPG,0,0,0,0,0,1,0
3,224478_1473219.JPG,0,0,0,0,1,0,0
4,224313_1471942.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
241,224563_1473834.jpg,0,0,0,0,0,1,0
242,224970_1476982.JPG,0,0,0,0,0,1,0
243,224035_1469832.JPG,0,0,0,1,0,0,0
244,225232_1479001.jpg,0,0,0,0,0,1,0
245,224965_1476943.JPG,0,0,0,0,0,1,0

In [33]:
df30

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,226681_1489953.JPG,0,0,1,0,0,0,0
1,226507_1488707.JPG,0,0,0,0,0,1,0
2,226723_1490292.JPG,0,0,0,0,0,0,1
3,226755_1490541.JPG,0,0,0,0,0,1,0
4,227195_1493542.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
236,226612_1489567.JPG,0,0,0,1,0,0,0
237,225737_1482859.JPG,0,0,0,0,1,0,0
238,225731_1482813.jpg,0,0,0,0,1,0,0
239,226730_1490348.JPG,0,0,0,0,0,1,0
240,225854_1483781.JPG,0,0,0,0,0,1,0

In [34]:
df31

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,228962_1505933.JPG,0,0,0,0,1,0,0
1,228133_1500073.JPG,0,0,0,0,1,0,0
2,228787_1504837.JPG,0,0,0,0,0,1,0
3,229119_1508871.JPG,0,0,1,0,0,0,0
4,228291_1501306.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
237,228528_1502842.JPG,1,0,0,0,0,0,0
238,227780_1497682.JPG,0,0,0,0,0,1,0
239,228233_1500866.JPG,0,0,0,0,0,1,0
240,229119_1508868.JPG,0,0,0,0,0,1,0
241,227350_1494500.JPG,0,0,1,0,0,0,0

In [35]:
df32

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,230530_1516834.JPG,0,1,0,0,0,0,0
1,230048_1513090.JPG,0,1,0,0,0,0,0
2,230541_1516912.JPG,0,0,0,0,1,0,0
3,230277_1514951.JPG,0,0,1,0,0,0,0
4,231011_1520042.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
243,229254_1508038.jpg,0,0,0,0,0,1,0
244,230845_1518899.JPG,0,0,0,1,0,0,0
245,230886_1519216.JPG,0,0,0,0,0,1,0
246,229926_1512148.JPG,0,0,0,0,0,1,0
247,229531_1509888.JPG,0,0,0,1,0,0,0

In [36]:
df33

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,231326_1521759.jpg,0,0,1,0,0,0,0
1,232466_1529551.JPG,0,0,1,0,0,0,0
2,232239_1527849.JPG,0,0,0,0,0,1,0
3,232444_1529379.JPG,0,0,0,0,1,0,0
4,232600_1530640.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
236,232100_1526765.JPG,0,0,0,0,0,1,0
237,231538_1522707.JPG,0,0,0,0,0,1,0
238,232372_1528825.JPG,0,0,0,0,0,1,0
239,231946_1525546.JPG,0,0,0,0,0,1,0
240,231993_1525901.JPG,0,0,0,0,0,1,0

In [37]:
df34

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,234944_1546057.jpg,0,0,0,0,0,0,1
1,234181_1541296.JPG,0,0,0,0,1,0,0
2,233781_1539250.JPG,0,0,0,0,1,0,0
3,234249_1541856.jpg,0,0,0,0,0,1,0
4,235043_1546834.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
231,234875_1545513.JPG,0,0,0,0,0,1,0
232,233030_1533626.JPG,0,0,0,0,0,1,0
233,234168_1541195.JPG,0,0,1,0,0,0,0
234,232997_1533367.JPG,0,0,0,0,0,1,0
235,233963_1540007.JPG,0,0,0,0,0,1,0

In [38]:
df35

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,235673_1550067.jpg,0,0,1,0,0,0,0
1,235673_1550073.jpg,0,0,0,1,0,0,0
2,236685_1557358.JPG,0,0,0,0,0,1,0
3,236999_1559240.JPG,1,0,0,0,0,0,0
4,236173_1553722.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,236084_1553023.JPG,0,0,0,1,0,0,0
246,236018_1552618.JPG,0,0,0,0,0,1,0
247,237292_1560911.jpg,0,0,1,0,0,0,0
248,235639_1549796.JPG,0,0,1,0,0,0,0
249,236854_1558223.JPG,0,0,0,0,0,1,0

In [39]:
df36

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,239257_1573136.JPG,0,0,0,0,0,1,0
1,238552_1568671.JPG,0,0,1,0,0,0,0
2,237672_1563248.JPG,0,0,0,1,0,0,0
3,239212_1572782.JPG,0,0,0,0,0,1,0
4,238121_1566160.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
244,237792_1563813.JPG,0,0,0,1,0,0,0
245,237819_1564025.jpg,0,0,0,0,0,1,0
246,238042_1565797.jpg,0,0,0,0,0,1,0
247,238813_1569956.JPG,0,0,0,0,0,1,0
248,239266_1573203.JPG,0,0,0,1,0,0,0

In [40]:
df37

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,240754_1584058.jpg,0,0,0,0,0,1,0
1,239847_1577456.JPG,0,0,0,1,0,0,0
2,240686_1583555.JPG,0,0,1,0,0,0,0
3,239420_1574065.JPG,0,0,1,0,0,0,0
4,240929_1585412.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
240,239387_1573813.JPG,0,0,0,0,0,1,0
241,239902_1577896.JPG,0,0,1,0,0,0,0
242,240005_1578738.JPG,0,0,1,0,0,0,0
243,241034_1586241.JPG,0,0,0,0,0,1,0
244,240765_1584147.jpg,0,0,0,0,0,1,0

In [41]:
df38

,img,Left_Interior,Right_interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,242294_1596092.JPG,0,0,1,0,0,0,0
1,242376_1596549.JPG,0,0,0,0,0,0,1
2,242344_1596372.JPG,0,0,0,0,1,0,0
3,241778_1592151.jpg,0,0,0,0,0,1,0
4,241480_1589809.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
242,241437_1589470.jpg,0,0,0,0,1,0,0
243,241245_1587933.jpg,0,0,0,0,0,1,0
244,241431_1589412.JPG,0,0,0,0,0,1,0
245,241382_1589001.JPG,0,0,0,0,1,0,0
246,241617_1590858.jpg,0,0,0,0,1,0,0

In [8]:
df38.rename(columns={'Right_interior':"Right_Interior"}, inplace=True)

In [42]:
df39

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,243098_1601559.jpg,0,0,0,0,1,0,0
1,243943_1607286.JPG,0,0,0,0,1,0,0
2,244405_1610860.JPG,0,0,1,0,0,0,0
3,242864_1599769.JPG,0,0,0,0,0,1,0
4,242919_1600196.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
240,243256_1602429.jpg,0,0,0,0,0,1,0
241,242772_1599231.JPG,0,0,1,0,0,0,0
242,242864_1599770.JPG,0,0,0,0,0,1,0
243,243600_1604593.JPG,0,0,0,0,0,1,0
244,244447_1611192.jpg,0,0,0,0,0,1,0

In [43]:
df40

,img,Left_Interior,Right_Interior,Exterior,Canon_left,Canon_Right,Other,Unsure
0,244872_1614695.JPG,0,0,0,0,0,1,0
1,245156_1616889.jpg,0,0,1,0,0,0,0
2,245257_1617685.JPG,0,0,0,0,0,1,0
3,244778_1613914.JPG,0,0,0,0,0,1,0
4,244931_1615138.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
232,245930_1622255.jpg,0,0,0,0,0,1,0
233,245207_1617283.jpg,0,0,1,0,0,0,0
234,244649_1612879.JPG,0,0,0,1,0,0,0
235,245400_1618203.JPG,0,0,0,0,0,1,0
236,245156_1616890.jpg,0,0,0,0,0,1,0

In [9]:
df40.rename(columns={'Canon_left':"Canon_Left"}, inplace=True)
df40

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,244872_1614695.JPG,0,0,0,0,0,1,0
1,245156_1616889.jpg,0,0,1,0,0,0,0
2,245257_1617685.JPG,0,0,0,0,0,1,0
3,244778_1613914.JPG,0,0,0,0,0,1,0
4,244931_1615138.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
232,245930_1622255.jpg,0,0,0,0,0,1,0
233,245207_1617283.jpg,0,0,1,0,0,0,0
234,244649_1612879.JPG,0,0,0,1,0,0,0
235,245400_1618203.JPG,0,0,0,0,0,1,0
236,245156_1616890.jpg,0,0,0,0,0,1,0

In [44]:
df41

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,246696_1628183.JPG,0,0,1,0,0,0,0
1,246775_1628797.JPG,0,0,0,1,0,0,0
2,246424_1625994.JPG,1,0,0,0,0,0,0
3,246769_1628755.JPG,0,0,0,0,0,1,0
4,247211_1631672.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
240,247405_1632728.jpg,1,0,0,0,0,0,0
241,246641_1627765.JPG,0,0,0,0,0,1,0
242,246602_1627454.JPG,0,0,0,0,0,1,0
243,247647_1634435.JPG,0,0,0,0,0,1,0
244,246258_1625956.JPG,0,0,1,0,0,0,0

In [45]:
df42

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,249025_1644650.JPG,0,0,0,0,0,1,0
1,248975_1644229.JPG,0,1,0,0,0,0,0
2,248729_1642186.JPG,0,0,0,0,1,0,0
3,249030_1644691.JPG,0,0,0,0,0,1,0
4,249030_1644685.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
241,248276_1638849.JPG,0,0,0,1,0,0,0
242,247876_1636197.jpg,0,0,0,0,0,1,0
243,248222_1638434.jpg,0,0,1,0,0,0,0
244,249047_1644848.JPG,0,0,0,1,0,0,0
245,248854_1643281.JPG,0,0,0,0,0,1,0

In [46]:
df43

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,250753_1657602.JPG,0,0,0,0,0,1,0
1,250426_1654928.JPG,0,0,1,0,0,0,0
2,251085_1660242.JPG,0,0,0,0,0,1,0
3,250629_1656576.jpg,0,1,0,0,0,0,0
4,250745_1657511.jpg,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
243,250084_1652532.JPG,0,0,1,0,0,0,0
244,250387_1654647.JPG,0,0,0,0,0,1,0
245,249861_1650790.JPG,0,0,0,0,0,1,0
246,249856_1650743.JPG,0,0,0,0,0,1,0
247,251063_1660068.jpg,0,0,0,0,0,1,0

In [47]:
df44

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,252481_1670139.JPG,0,0,0,0,0,1,0
1,252835_1672947.jpg,0,0,0,1,0,0,0
2,252779_1672464.JPG,0,0,0,0,0,1,0
3,252040_1666998.jpg,0,0,0,0,0,1,0
4,252691_1671767.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
238,252751_1672225.JPG,0,0,1,0,0,0,0
239,251828_1665750.JPG,0,0,0,0,0,1,0
240,251654_1664406.JPG,0,0,0,0,0,1,0
241,251392_1662536.JPG,0,0,1,0,0,0,0
242,252694_1671790.JPG,0,0,1,0,0,0,0

In [48]:
df45

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,253754_1679977.JPG,0,0,1,0,0,0,0
1,254033_1682317.JPG,1,0,0,0,0,0,0
2,253227_1675658.jpg,0,0,0,0,1,0,0
3,253788_1680237.JPG,0,0,0,0,0,1,0
4,253714_1679638.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
241,253250_1675881.JPG,0,0,0,0,0,1,0
242,253210_1675527.JPG,1,0,0,0,0,0,0
243,253933_1681464.JPG,0,0,0,1,0,0,0
244,254135_1683097.JPG,0,0,1,0,0,0,0
245,253543_1678279.JPG,0,0,0,1,0,0,0

In [49]:
df46

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,256028_1696889.jpg,0,0,1,0,0,0,0
1,255879_1695727.JPG,0,0,1,0,0,0,0
2,255579_1693484.JPG,0,0,0,0,0,1,0
3,255438_1692484.JPG,0,0,0,0,0,1,0
4,255949_1696228.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
237,254903_1689184.JPG,0,0,0,0,0,1,0
238,255571_1693396.jpg,0,0,0,0,1,0,0
239,255762_1694874.JPG,1,0,0,0,0,0,0
240,255949_1696225.jpg,0,0,0,0,0,1,0
241,255949_1696231.jpg,0,0,0,0,0,1,0

In [50]:
df46

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,256028_1696889.jpg,0,0,1,0,0,0,0
1,255879_1695727.JPG,0,0,1,0,0,0,0
2,255579_1693484.JPG,0,0,0,0,0,1,0
3,255438_1692484.JPG,0,0,0,0,0,1,0
4,255949_1696228.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
237,254903_1689184.JPG,0,0,0,0,0,1,0
238,255571_1693396.jpg,0,0,0,0,1,0,0
239,255762_1694874.JPG,1,0,0,0,0,0,0
240,255949_1696225.jpg,0,0,0,0,0,1,0
241,255949_1696231.jpg,0,0,0,0,0,1,0

In [51]:
df47

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,256995_1704211.JPG,0,0,0,1,0,0,0
1,257091_1704963.JPG,0,0,0,0,0,1,0
2,256355_1699490.jpg,0,0,0,0,1,0,0
3,256955_1703899.JPG,0,0,1,0,0,0,0
4,256355_1699491.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
244,256722_1702049.jpg,0,0,1,0,0,0,0
245,257757_1710114.JPG,0,0,0,0,1,0,0
246,256191_1698146.JPG,0,0,0,1,0,0,0
247,256222_1698391.jpg,0,0,0,0,0,1,0
248,256873_1703202.JPG,0,0,0,0,0,1,0

In [52]:
df48

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,259826_1725217.JPG,0,0,0,0,0,1,0
1,258285_1714334.JPG,0,0,0,1,0,0,0
2,258810_1718098.JPG,0,0,0,0,0,1,0
3,258610_1716575.JPG,0,0,0,0,0,1,0
4,258840_1718323.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
241,257880_1711157.JPG,0,0,0,0,0,1,0
242,258031_1712364.jpg,0,0,0,1,0,0,0
243,258165_1713400.JPG,0,0,0,0,0,1,0
244,258165_1713399.JPG,0,0,1,0,0,0,0
245,258574_1716276.JPG,0,0,0,0,1,0,0

In [53]:
df49

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,260694_1731563.JPG,0,0,0,0,0,1,0
1,259941_1726109.JPG,1,0,0,0,0,0,0
2,261537_1738234.jpg,0,0,0,0,1,0,0
3,261434_1737393.JPG,0,0,0,1,0,0,0
4,260520_1730511.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
242,260056_1727018.jpg,0,0,0,0,0,1,0
243,260520_1730508.JPG,0,0,0,0,0,1,0
244,260250_1728419.JPG,0,0,0,0,0,1,0
245,260250_1728425.JPG,0,0,0,0,0,1,0
246,260998_1733934.JPG,0,0,0,0,0,1,0

In [54]:
df50

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,262017_1741965.JPG,0,0,0,0,0,1,0
1,263012_1748203.JPG,0,0,1,0,0,0,0
2,262935_1747551.JPG,0,0,1,0,0,0,0
3,262037_1742132.JPG,0,0,1,0,0,0,0
4,263283_1750056.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
244,262444_1744716.JPG,0,0,0,0,0,1,0
245,262168_1743137.JPG,0,0,0,0,0,1,0
246,262232_1743401.JPG,0,0,1,0,0,0,0
247,263046_1748478.jpg,0,0,0,0,0,1,0
248,262555_1745080.JPG,0,0,0,0,1,0,0

In [55]:
df51

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,264560_1758940.JPG,0,0,0,0,1,0,0
1,263524_1751694.JPG,0,0,0,0,0,1,0
2,264565_1758986.JPG,0,0,0,0,0,1,0
3,264459_1758158.JPG,0,0,0,1,0,0,0
4,264254_1757194.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,263681_1752877.JPG,1,0,0,0,0,0,0
246,264106_1756051.JPG,0,0,1,0,0,0,0
247,265146_1763384.JPG,0,0,0,0,0,1,0
248,264114_1756117.JPG,0,0,1,0,0,0,0
249,265004_1762297.JPG,0,0,0,0,0,1,0

In [56]:
df52

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,265665_1766869.JPG,0,0,0,0,0,1,0
1,266777_1775122.JPG,0,1,0,0,0,0,0
2,266114_1769763.JPG,0,0,0,0,0,1,0
3,265998_1768958.JPG,0,0,0,0,0,1,0
4,266393_1771976.jpg,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
243,266539_1773234.JPG,0,0,0,0,0,1,0
244,266951_1776820.jpg,0,0,0,0,0,1,0
245,266166_1770197.JPG,0,0,0,0,0,1,0
246,265223_1763963.JPG,0,0,0,0,0,1,0
247,266617_1773812.jpg,1,0,0,0,0,0,0

In [57]:
df53

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,268705_1790837.JPG,0,0,0,0,0,1,0
1,267374_1780446.jpg,0,1,0,0,0,0,0
2,267948_1785027.JPG,1,0,0,0,0,0,0
3,268572_1793493.JPG,0,0,0,1,0,0,0
4,267989_1785363.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,267801_1783304.JPG,0,0,1,0,0,0,0
246,267155_1778601.JPG,0,0,0,0,0,1,0
247,267066_1777751.jpg,1,0,0,0,0,0,0
248,267643_1782492.JPG,0,0,0,0,1,0,0
249,268643_1790241.JPG,0,0,0,0,0,1,0

In [58]:
df54

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,270403_1803890.JPG,0,0,0,0,0,1,0
1,269676_1798209.JPG,0,0,0,0,0,1,0
2,268792_1791545.JPG,1,0,0,0,0,0,0
3,268888_1792318.jpg,0,0,0,0,0,1,0
4,270686_1806019.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
244,270267_1802501.JPG,0,0,0,0,1,0,0
245,270704_1806085.JPG,0,0,0,0,1,0,0
246,268814_1791714.JPG,0,1,0,0,0,0,0
247,269966_1800601.jpg,0,0,1,0,0,0,0
248,269927_1800277.JPG,0,0,0,0,0,1,0

In [59]:
df55

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,270748_1806455.jpg,0,0,0,1,0,0,0
1,271012_1808215.JPG,0,0,0,0,0,1,0
2,272018_1815732.JPG,0,0,0,0,1,0,0
3,271200_1809720.jpg,0,0,0,0,1,0,0
4,271046_1808503.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
242,270962_1807777.JPG,0,0,0,0,0,1,0
243,272006_1815643.JPG,0,0,0,0,0,1,0
244,271451_1811860.JPG,0,0,0,0,0,1,0
245,270959_1807749.JPG,0,0,0,0,0,1,0
246,271206_1809773.jpg,0,0,0,0,0,1,0

In [60]:
df56

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,272680_1821070.jpg,0,0,0,1,0,0,0
1,272680_1821064.jpg,0,0,0,0,1,0,0
2,273799_1830371.JPG,0,0,0,0,0,1,0
3,273589_1828644.JPG,0,0,0,0,0,1,0
4,272503_1819532.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
244,273061_1824269.JPG,0,0,0,0,0,1,0
245,273061_1824268.JPG,0,0,0,0,0,1,0
246,272593_1820448.JPG,1,0,0,0,0,0,0
247,272806_1822134.JPG,0,0,0,1,0,0,0
248,274622_1835840.JPG,0,0,0,0,0,1,0

In [61]:
df57

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,275771_1844783.JPG,1,0,0,0,0,0,0
1,274842_1837424.JPG,0,0,0,0,0,1,0
2,275637_1843842.JPG,0,0,0,0,0,1,0
3,276337_1849325.JPG,0,0,0,1,0,1,0
4,276054_1847027.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,275136_1839794.JPG,0,0,0,0,0,1,0
246,275063_1839155.JPG,0,0,1,0,0,0,0
247,276389_1849794.JPG,0,0,0,0,0,1,0
248,275606_1843593.JPG,0,0,1,0,0,0,0
249,276041_1846915.JPG,0,0,0,1,0,0,0

In [62]:
df58

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,277025_1854409.JPG,0,0,0,1,0,0,0
1,278564_1866375.JPG,0,0,0,0,0,1,0
2,276853_1853387.JPG,0,0,0,0,0,1,0
3,276571_1851287.jpg,0,0,0,0,0,1,0
4,278034_1861976.jpg,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
244,278445_1865391.JPG,0,0,1,0,0,0,0
245,278317_1864310.JPG,0,0,0,0,0,1,0
246,276562_1851215.JPG,0,0,0,0,0,1,0
247,276757_1852691.jpg,0,0,0,0,0,1,0
248,277025_1854410.JPG,0,0,0,1,0,0,0

In [63]:
df59

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,279243_1871391.JPG,0,0,1,0,0,0,0
1,279616_1874194.JPG,0,0,1,0,0,0,0
2,279166_1870731.JPG,0,0,0,0,0,1,0
3,278982_1869608.JPG,0,0,0,0,0,1,0
4,279150_1870606.JPG,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
242,279043_1870116.JPG,0,0,0,0,0,1,0
243,279658_1874559.JPG,0,0,1,0,0,1,0
244,279751_1875306.jpg,0,0,0,0,1,0,0
245,279344_1871942.jpg,0,0,0,0,0,1,0
246,280213_1879045.jpg,0,0,1,0,0,0,0

In [64]:
df60

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,280418_1880638.JPG,0,0,0,0,0,1,0
1,280266_1879449.jpg,0,0,0,0,0,1,0
2,281601_1889373.JPG,0,0,1,0,0,0,0
3,280609_1882139.JPG,1,0,0,0,0,0,0
4,281380_1887790.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
243,280326_1879898.jpg,0,0,1,0,0,0,0
244,281399_1887941.JPG,1,0,0,0,0,0,0
245,281317_1887265.JPG,0,0,0,0,0,1,0
246,280266_1879444.jpg,0,0,0,0,0,1,0
247,280252_1879341.jpg,0,1,0,0,0,0,0

In [65]:
df61

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,283665_1904713.JPG,0,0,1,0,0,0,0
1,283325_1902013.JPG,0,0,1,0,0,0,0
2,282943_1899590.JPG,0,0,0,0,1,0,0
3,282480_1895906.JPG,0,0,0,1,0,0,0
4,282265_1894073.JPG,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
245,282639_1897190.JPG,0,0,0,0,0,1,0
246,282620_1897037.jpg,1,0,0,0,0,0,0
247,283008_1900131.JPG,0,0,0,0,0,1,0
248,282387_1895095.JPG,0,1,0,0,0,0,0
249,282739_1897954.JPG,0,0,0,0,0,1,0

In [66]:
df62

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,285241_1915708.jpg,0,0,0,0,0,1,0
1,284648_1911756.JPG,0,0,0,1,0,0,0
2,284350_1909752.JPG,0,0,0,0,0,1,0
3,284958_1913714.JPG,0,0,0,0,0,1,0
4,283900_1906378.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
240,284953_1913667.JPG,0,0,0,0,1,0,0
241,284954_1913680.JPG,0,0,0,0,0,1,0
242,284401_1909699.JPG,0,0,1,0,0,0,0
243,284829_1912922.JPG,0,0,0,0,0,1,0
244,285241_1915711.jpg,0,0,1,0,0,0,0

In [67]:
df63

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,287306_1929670.jpg,0,0,1,0,0,0,0
1,286635_1924654.JPG,0,0,0,0,0,1,0
2,287411_1930474.jpg,0,1,0,0,0,0,0
3,285935_1920772.jpg,1,0,0,0,0,0,0
4,286398_1954204.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,286609_1924496.jpg,0,0,0,0,0,1,0
246,285959_1920959.jpg,1,0,0,0,0,0,0
247,285786_1919612.JPG,0,0,0,0,0,1,0
248,285875_1920355.JPG,0,0,0,0,0,1,0
249,287271_1929441.JPG,0,0,0,0,0,1,0

In [68]:
df64

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,289082_1943734.JPG,0,0,1,0,0,0,0
1,288853_1941803.JPG,0,0,0,0,0,1,0
2,287790_1933546.JPG,0,0,0,0,0,1,0
3,289026_1943260.JPG,0,0,0,0,0,1,0
4,287491_1931110.jpg,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,287491_1931109.jpg,0,0,0,0,0,1,0
246,287711_1932874.JPG,0,0,0,0,0,1,0
247,288000_1935351.JPG,0,0,1,0,0,0,0
248,288828_1941596.jpg,0,0,0,0,0,1,0
249,289165_1944403.JPG,0,0,0,0,0,1,0

In [69]:
df65

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,290651_1955869.jpg,0,0,0,0,0,0,1
1,290755_1956726.JPG,0,0,0,0,0,1,0
2,290243_1952884.JPG,0,0,0,0,0,1,0
3,289245_1945040.JPG,0,0,1,0,0,0,0
4,290654_1956183.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,289780_1949147.JPG,0,0,1,0,0,0,0
246,289223_1944875.JPG,0,0,0,0,0,1,0
247,289520_1947072.jpg,0,0,0,0,0,1,0
248,290651_1955870.jpg,0,0,0,0,0,1,0
249,290086_1951691.jpg,0,0,0,0,0,1,0

In [70]:
df66

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,290994_1958575.JPG,0,0,0,0,0,1,0
1,290916_1957960.jpg,0,0,0,0,0,1,0
2,290897_1957820.JPG,0,0,0,0,0,1,0
3,291164_1960001.jpg,0,0,0,0,0,1,0
4,292061_1966747.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,290862_1957511.JPG,0,0,1,0,0,0,0
246,291302_1961142.JPG,0,0,0,1,0,0,0
247,291599_1963302.jpg,0,0,0,0,0,1,0
248,290994_1958578.JPG,0,0,0,0,0,1,0
249,291134_1959735.JPG,0,0,0,1,0,0,0

In [71]:
df67

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,293799_1979931.JPG,0,1,0,0,0,0,0
1,293535_1977792.jpg,0,0,0,0,1,0,0
2,292713_1971356.JPG,0,0,1,0,0,0,0
3,292542_1970023.JPG,0,0,0,0,0,1,0
4,292723_1971439.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,292730_1971496.JPG,0,0,0,0,0,1,0
246,293074_1974228.JPG,0,0,0,0,1,0,0
247,292692_1971179.JPG,0,0,0,0,0,1,0
248,293127_1974662.JPG,0,0,0,1,0,0,0
249,293606_1978363.JPG,0,1,0,0,0,0,0

In [72]:
df68

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,294176_1983093.JPG,0,0,0,0,0,1,0
1,295060_1990447.JPG,0,0,0,0,1,0,0
2,294136_1982756.JPG,0,0,0,1,0,0,0
3,294512_1985909.JPG,0,0,0,0,0,1,0
4,294790_1988300.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
238,295482_1993497.JPG,0,0,0,0,0,1,0
239,294764_1988124.JPG,0,0,1,0,0,0,0
240,295161_1996852.JPG,0,0,1,0,0,0,0
241,294167_1983020.JPG,0,0,0,0,0,1,0
242,294474_1985614.jpg,0,0,0,0,0,1,0

In [75]:
df69

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,296630_2002278.JPG,0,0,0,0,0,1,0
1,297094_2005850.jpg,0,0,0,0,0,1,0
2,297179_2006559.JPG,0,0,1,0,0,0,0
3,297179_2006565.JPG,0,0,0,0,0,1,0
4,296093_1998499.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,295586_1994411.JPG,0,0,1,0,0,0,0
246,295624_1994731.JPG,0,0,0,0,0,1,0
247,297094_2005849.jpg,1,0,0,0,0,0,0
248,297069_2005646.JPG,0,0,0,0,0,1,0
249,297146_2006307.JPG,0,0,0,0,0,1,0

In [76]:
df70

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,298296_2015289.jpg,1,0,0,0,0,0,0
1,297851_2011804.jpg,0,0,0,0,0,1,0
2,297602_2009880.jpg,0,0,0,0,0,1,0
3,298986_2020670.JPG,0,0,1,0,0,0,0
4,298121_2014061.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
245,298638_2017766.jpg,0,0,0,0,1,0,0
246,298294_2015272.JPG,0,0,1,0,0,0,0
247,298021_2013241.jpg,0,1,0,0,0,0,0
248,297508_2009146.jpg,0,0,0,0,0,1,0
249,298760_2018772.jpg,0,0,0,0,0,1,0

In [77]:
df71

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,299970_2039273.JPG,0,0,1,0,0,0,0
1,299287_2023193.jpg,0,0,1,0,0,0,0
2,300069_2028903.jpg,0,1,0,0,0,0,0
3,299344_2023603.jpg,0,0,0,0,0,1,0
4,300264_2030518.JPG,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
245,299329_2023517.jpg,0,0,0,0,0,1,0
246,299495_2024965.jpg,0,0,0,0,0,1,0
247,300366_2031354.jpg,0,0,0,0,0,1,0
248,299041_2021192.jpg,0,0,0,0,0,1,0
249,299246_2022885.JPG,0,0,0,0,0,1,0

In [78]:
df72

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,302282_2071936.JPG,0,0,1,0,0,0,0
1,300998_2036581.JPG,0,0,0,0,0,1,0
2,301364_2039734.jpg,0,0,1,0,0,0,0
3,300909_2035843.JPG,0,0,1,0,0,0,0
4,301855_2043849.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
245,300805_2034999.JPG,0,0,0,0,1,0,0
246,301984_2044916.jpg,1,0,0,0,0,0,0
247,301711_2042614.JPG,0,0,0,1,0,0,0
248,301832_2043654.jpg,0,0,0,0,0,1,0
249,301214_2038429.jpg,0,0,0,0,0,1,0

In [79]:
df73

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,302673_2049935.jpg,0,0,0,0,0,1,0
1,303124_2053615.jpg,0,0,0,0,0,1,0
2,302973_2052400.JPG,0,0,1,0,0,0,0
3,303256_2054610.jpg,0,0,0,0,0,1,0
4,302746_2050532.jpg,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,302533_2048746.JPG,0,0,0,0,0,1,0
246,302813_2051079.JPG,0,0,0,0,0,1,0
247,303124_2053618.jpg,0,0,0,0,0,1,0
248,303595_2057465.jpg,0,0,0,1,0,0,0
249,303656_2058032.JPG,0,0,0,0,0,1,0

In [80]:
df74

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,304556_2065347.JPG,0,0,0,0,0,1,0
1,305235_2070879.jpg,0,0,1,0,0,0,0
2,305191_2070535.JPG,0,0,0,0,0,1,0
3,304835_2067619.JPG,0,0,1,0,0,0,0
4,304451_2064463.JPG,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
245,304666_2066263.jpg,0,0,0,0,0,1,0
246,305067_2069534.JPG,0,0,1,0,0,0,0
247,305204_2070635.JPG,0,0,1,0,0,0,0
248,304227_2062705.JPG,0,0,1,0,0,0,0
249,304406_2064121.JPG,0,0,0,0,1,0,0

In [81]:
df75

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,306943_2083973.jpg,0,0,0,0,0,1,0
1,307061_2084926.JPG,1,0,0,0,0,0,0
2,305864_2075640.JPG,0,1,0,0,0,0,0
3,305806_2075100.JPG,0,0,0,0,1,0,0
4,306162_2077974.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,305868_2075663.JPG,0,0,0,0,0,1,0
246,306650_2081436.JPG,0,0,0,0,0,1,0
247,305498_2072874.JPG,0,0,1,0,0,0,0
248,306592_2081314.JPG,0,0,1,0,0,0,0
249,307061_2084917.JPG,0,0,0,0,0,1,0

In [82]:
df76

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,308300_2094568.JPG,0,0,1,0,0,0,0
1,307703_2090193.JPG,0,0,0,0,0,1,0
2,308429_2095681.JPG,0,0,0,0,0,1,0
3,308830_2098864.JPG,0,0,0,0,0,1,0
4,307261_2086519.jpg,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,307261_2086528.jpg,0,1,0,0,0,0,0
246,308314_2094723.jpg,1,0,0,0,0,0,0
247,307598_2089258.JPG,0,0,0,0,0,1,0
248,308296_2094566.JPG,0,0,0,0,0,1,0
249,308540_2096589.JPG,0,0,1,0,0,0,0

In [83]:
df77

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,309120_2101361.JPG,0,0,1,0,0,0,0
1,309850_2107389.JPG,0,0,0,0,0,1,0
2,309786_2106944.jpg,0,1,0,0,0,0,0
3,310393_2111491.JPG,0,0,0,0,0,1,0
4,310507_2112418.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,309742_2106567.JPG,0,0,1,0,0,0,0
246,309209_2102095.jpg,0,1,0,0,0,0,0
247,309270_2102653.jpg,0,0,1,0,0,0,0
248,310621_2113399.jpg,0,0,1,0,0,0,0
249,310544_2112719.jpg,0,0,0,0,0,1,0

In [84]:
df78

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,311642_2121168.jpg,0,0,1,0,0,0,0
1,310663_2113746.JPG,0,0,0,0,0,1,0
2,310890_2115612.jpg,0,0,0,0,0,1,0
3,310914_2115810.jpg,0,0,0,0,0,1,0
4,310847_2115269.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,310914_2115809.jpg,1,0,0,0,0,0,0
246,311779_2122272.JPG,1,0,0,0,0,0,0
247,311790_2122356.JPG,0,0,0,0,0,1,0
248,311570_2120479.JPG,0,0,1,0,0,0,0
249,311711_2121705.jpg,0,0,0,0,0,1,0

In [85]:
df79

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,312530_2128532.jpg,0,0,0,0,0,1,0
1,312734_2130321.JPG,1,0,0,0,0,0,0
2,311916_2123439.JPG,0,0,0,0,0,1,0
3,312071_2124759.jpg,0,0,0,1,0,0,0
4,312802_2130860.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,312154_2125466.JPG,0,0,0,0,0,1,0
246,312440_2127831.JPG,0,0,0,0,1,0,0
247,313438_2151528.JPG,0,0,1,0,0,0,0
248,311894_2123249.JPG,0,0,0,0,0,1,0
249,313048_2132887.JPG,0,0,1,0,0,0,0

In [86]:
df80

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,314584_2144989.JPG,0,0,0,0,0,1,0
1,313516_2136349.jpg,0,0,1,0,0,0,0
2,314792_2146672.JPG,0,0,0,0,0,1,0
3,313628_2137257.JPG,0,0,0,0,0,1,0
4,313845_2138970.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,313921_2139591.JPG,0,0,1,0,0,0,0
246,314584_2144984.JPG,0,0,0,0,1,0,0
247,313877_2139243.JPG,0,0,1,0,0,0,0
248,313586_2136920.JPG,0,0,0,0,0,1,0
249,313626_2137241.jpg,1,0,0,0,0,0,0

In [87]:
df81

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,315714_2154244.JPG,0,0,0,0,0,1,0
1,315838_2155305.JPG,0,0,1,0,0,0,0
2,316291_2158654.JPG,0,0,1,0,0,0,0
3,314884_2147429.JPG,0,0,0,0,1,0,0
4,315984_2156499.jpg,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
245,314929_2147790.JPG,0,0,0,0,0,1,0
246,315305_2150872.JPG,0,0,0,0,0,1,0
247,314930_2147794.JPG,0,0,0,0,0,1,0
248,316111_2157513.JPG,0,0,0,0,0,1,0
249,315838_2155308.JPG,0,0,0,0,0,1,0

In [88]:
df82

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,317918_2171559.JPG,0,0,0,0,0,1,0
1,317161_2165392.jpg,0,0,1,0,0,0,0
2,316750_2162046.jpg,0,0,0,1,0,0,0
3,316784_2162314.jpg,0,0,0,1,0,0,0
4,316400_2159596.JPG,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,317924_2171610.JPG,0,0,0,0,0,1,0
246,316996_2164099.JPG,0,1,0,0,0,0,0
247,317479_2168027.jpg,0,0,1,0,0,0,0
248,317479_2168033.jpg,0,0,0,0,0,1,0
249,316906_2163376.JPG,0,0,0,1,0,0,0

In [89]:
df83

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,319459_2183928.JPG,0,1,0,0,0,0,0
1,319460_2183937.jpg,0,0,0,0,0,1,0
2,319741_2186181.jpg,0,0,1,0,0,0,0
3,319855_2187112.jpg,0,0,1,0,0,0,0
4,319223_2181957.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
245,318128_2173324.JPG,1,0,0,0,0,0,0
246,318128_2173325.JPG,1,0,0,0,0,0,0
247,318871_2178961.jpg,0,0,0,0,1,0,0
248,318481_2175850.JPG,0,0,0,0,1,0,0
249,318621_2176919.jpg,0,0,0,0,0,1,0

In [90]:
df84

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,321293_2197863.jpg,0,0,1,0,0,0,0
1,320427_2191230.jpg,0,0,0,0,0,1,0
2,320692_2193298.JPG,0,0,0,0,0,1,0
3,320352_2190649.jpg,0,0,1,0,0,0,0
4,321087_2196475.jpg,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
245,320241_2189743.JPG,0,0,1,0,0,0,0
246,321079_2196437.jpg,0,0,0,0,0,1,0
247,321032_2196025.jpg,0,0,0,0,0,1,0
248,319896_2187454.JPG,0,0,0,0,0,1,0
249,320867_2194693.JPG,0,0,1,0,0,0,0

In [91]:
df85

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,322983_2211126.JPG,0,1,0,0,0,0,0
1,322036_2203531.JPG,0,0,0,0,1,0,0
2,322743_2209223.jpg,0,0,1,0,0,0,0
3,322624_2208266.JPG,0,0,1,0,0,0,0
4,323054_2211705.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
245,321868_2202214.JPG,0,0,0,0,0,1,0
246,322302_2205739.jpg,0,0,0,0,1,0,0
247,322457_2206955.JPG,0,0,0,0,0,1,0
248,321549_2199893.JPG,0,0,0,0,0,1,0
249,322601_2208088.JPG,0,0,0,0,0,1,0

In [92]:
df86

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,323809_2217380.jpg,0,0,0,0,0,1,0
1,323594_2215646.jpg,0,0,1,0,0,0,0
2,323746_2216896.JPG,0,0,0,0,0,1,0
3,324520_2222974.jpg,0,1,0,0,0,0,0
4,323905_2218130.jpg,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
245,324433_2222268.jpg,0,0,1,0,0,0,0
246,323475_2214604.JPG,0,0,0,0,0,1,0
247,323770_2217084.JPG,0,1,0,0,0,0,0
248,323416_2221436.JPG,0,0,0,0,1,0,0
249,323367_2214154.JPG,0,0,0,1,0,0,0

In [93]:
df87

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,326312_2236415.jpg,0,0,0,1,0,0,0
1,325217_2227820.JPG,0,0,0,0,0,1,0
2,326156_2235174.JPG,0,0,0,0,0,1,0
3,326163_2235227.JPG,0,0,0,0,0,1,0
4,325861_2232970.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
245,326480_2237374.jpg,0,0,1,0,0,0,0
246,325931_2233519.jpg,0,0,0,0,0,1,0
247,325672_2231490.JPG,0,0,0,0,0,1,0
248,326644_2238735.JPG,0,0,1,0,0,0,0
249,325861_2232969.jpg,0,0,0,0,1,0,0

In [94]:
df88

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,327221_2243372.jpg,0,0,0,1,0,0,0
1,326871_2240617.JPG,0,0,1,0,0,0,0
2,327838_2248456.JPG,0,0,1,0,0,0,0
3,327788_2247989.JPG,0,0,0,0,0,1,0
4,326846_2240388.jpg,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
245,328650_2254524.JPG,0,1,0,0,0,0,0
246,328073_2250330.jpg,0,0,0,0,0,1,0
247,328755_2255143.jpg,0,1,0,0,0,0,0
248,327652_2246881.JPG,0,0,0,1,0,0,0
249,327335_2244274.JPG,1,0,0,0,0,0,0

In [95]:
df89

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,330419_2267839.jpg,0,1,0,0,0,0,0
1,330264_2266628.JPG,0,0,0,0,0,1,0
2,328771_2255274.jpg,1,0,0,0,0,0,0
3,329377_2260135.JPG,0,0,0,0,0,1,0
4,329629_2261783.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,329517_2269514.JPG,0,0,0,0,1,0,0
246,329517_2269515.JPG,0,0,1,0,0,0,0
247,329557_2261196.JPG,0,0,0,0,0,1,0
248,330507_2268532.JPG,0,0,1,0,0,0,0
249,329976_2264586.JPG,0,0,0,0,0,1,0

In [96]:
df90

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,330999_2272542.JPG,0,0,1,0,0,0,0
1,331120_2273482.JPG,0,0,0,1,0,0,0
2,330673_2269883.jpg,0,0,1,0,0,0,0
3,332029_2280149.JPG,0,0,0,0,0,1,0
4,331588_2276917.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
245,331744_2278190.JPG,0,0,0,0,0,1,0
246,330606_2269323.JPG,0,0,1,0,0,0,0
247,331672_2277576.JPG,0,0,1,0,0,0,0
248,331198_2274070.JPG,0,0,0,0,0,1,0
249,330543_2268828.jpg,1,0,0,0,0,0,0

In [97]:
df91

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,333213_2288760.JPG,0,0,0,0,0,1,0
1,333778_2293020.JPG,0,0,1,0,0,0,0
2,333221_2288826.JPG,0,0,0,0,0,1,0
3,333195_2288627.JPG,0,1,0,0,0,0,0
4,332411_2283183.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
245,333288_2289364.JPG,0,1,0,0,0,0,0
246,333337_2289753.JPG,0,1,0,0,0,0,0
247,332170_2281264.JPG,0,0,0,0,0,1,0
248,333781_2293046.JPG,0,1,0,0,0,0,0
249,332261_2281988.jpg,0,0,0,1,0,0,0

In [98]:
df92

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,515841_7197742.jpg,0,0,0,0,0,1,0
1,333801_2293249.JPG,0,0,0,0,0,1,0
2,64191_295980.JPG,0,0,1,0,0,0,0
3,334376_2297868.JPG,0,0,0,0,0,1,0
4,334065_2295411.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
243,334822_2301407.JPG,0,0,0,0,0,1,0
244,515875_7197937.JPG,1,0,0,0,0,0,0
245,64264_296556.JPG,0,0,1,0,0,0,0
246,64348_297198.JPG,0,0,0,0,0,1,0
247,515972_7198421.JPG,0,0,0,0,0,1,0

In [99]:
df93

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,65527_305364.JPG,0,0,0,1,0,0,0
1,64681_299332.JPG,0,0,0,0,0,1,0
2,64578_298563.JPG,0,0,1,0,0,0,0
3,65388_304285.JPG,0,0,0,0,0,1,0
4,66889_314897.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
242,65050_301816.JPG,0,0,1,0,0,0,0
243,65490_305075.JPG,0,0,1,0,0,0,0
244,66162_309726.JPG,0,0,1,0,0,0,0
245,66113_309381.JPG,0,0,0,0,0,1,0
246,65410_304460.JPG,0,0,1,0,0,0,0

In [100]:
df94

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,68838_326944.JPG,0,0,1,0,0,0,0
1,69042_328608.JPG,0,1,0,0,0,0,0
2,68970_327952.JPG,0,0,0,0,1,0,0
3,67326_317890.JPG,0,0,0,0,0,1,0
4,69529_331512.JPG,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
238,69989_333668.JPG,0,0,0,0,0,1,0
239,68696_325881.JPG,0,0,0,0,0,1,0
240,69652_332185.JPG,0,0,0,0,0,1,0
241,67454_318281.JPG,0,0,0,0,0,1,0
242,70202_339118.JPG,0,0,0,0,0,1,0

In [101]:
df95

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,71631_344387.jpg,0,0,1,0,0,0,0
1,70560_337448.JPG,0,0,0,0,0,1,0
2,71249_342284.JPG,0,0,0,0,0,1,0
3,70354_335929.JPG,0,0,1,0,0,0,0
4,71375_343181.JPG,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
238,70870_339717.jpg,0,0,0,0,1,0,0
239,71648_344501.JPG,0,0,1,0,0,0,0
240,70479_336837.JPG,0,0,0,0,0,1,0
241,70697_338432.JPG,0,0,0,0,1,0,0
242,71785_345580.JPG,0,0,0,0,0,1,0

In [102]:
df96

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,72637_351633.JPG,0,0,0,0,1,0,0
1,72702_352161.JPG,0,0,1,0,0,0,0
2,72361_349486.JPG,0,0,0,0,0,1,0
3,73815_357314.JPG,0,0,0,0,0,1,0
4,72191_348251.JPG,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
244,73825_357418.JPG,0,0,0,0,0,1,0
245,73906_358059.JPG,0,0,0,0,0,1,0
246,74269_360006.JPG,0,0,0,0,0,1,0
247,74070_359288.JPG,0,0,0,1,0,0,0
248,73863_357726.JPG,0,0,0,1,0,0,0

In [103]:
df97

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,74464_361477.jpg,0,0,1,0,0,0,0
1,74831_363770.JPG,0,0,0,0,0,1,0
2,75872_371451.JPG,0,0,0,0,0,1,0
3,75762_370577.JPG,0,0,0,0,1,0,0
4,74632_362619.jpg,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
240,75467_368489.JPG,0,0,1,0,0,0,0
241,75267_367178.JPG,0,0,0,0,0,1,0
242,75441_368306.jpg,0,0,0,1,0,0,0
243,75985_372342.JPG,0,0,0,0,0,1,0
244,75235_366942.JPG,0,0,0,0,0,1,0

In [104]:
df98

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,76089_1084777.JPG,0,0,1,0,0,0,0
1,76091_1084792.JPG,0,0,0,0,0,1,0
2,76075_1084662.JPG,0,1,0,0,0,0,0

In [10]:
total_Ignacio = pd.concat([df1, df2, df3, df4, df5,df6, df7, df8, df9, df10,df11, df12, df13, df14, df15,df16, df17, df18, df19, df20,df21, df22, df23, df24, df25,df26, df27, df28, df29, df30,df31, df32, df33, df34, df35,df36, df37, df38, df39, df40,df41, df42, df43, df44, df45,df46, df47, df48, df49, df50,df51, df52, df53, df54, df55,df56, df57, df58, df59, df60, df61, df62, df63, df64, df65,df66, df67, df68, df69, df70, df71, df72, df73, df74, df75, df76, df77, df78, df79, df80, df81, df82, df83, df84, df85, df86, df87, df88, df89, df90, df91, df92, df93, df94, df95, df96, df97, df98])
total_Ignacio

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,170910_1092646.JPG,0,0,0,0,1,0,0
1,170315_1088495.JPG,0,0,0,0,0,1,0
2,171742_1097821.JPG,0,0,1,0,0,0,0
3,172040_1100273.JPG,1,0,0,0,0,0,0
4,170100_1086894.JPG,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
243,75985_372342.JPG,0,0,0,0,0,1,0
244,75235_366942.JPG,0,0,0,0,0,1,0
0,76089_1084777.JPG,0,0,1,0,0,0,0
1,76091_1084792.JPG,0,0,0,0,0,1,0
2,76075_1084662.JPG,0,1,0,0,0,0,0

In [11]:
total_Ignacio.to_csv("/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/total_Ignacio.csv")

In [12]:
total_Ignacio

,img,Left_Interior,Right_Interior,Exterior,Canon_Left,Canon_Right,Other,Unsure
0,170910_1092646.JPG,0,0,0,0,1,0,0
1,170315_1088495.JPG,0,0,0,0,0,1,0
2,171742_1097821.JPG,0,0,1,0,0,0,0
3,172040_1100273.JPG,1,0,0,0,0,0,0
4,170100_1086894.JPG,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
243,75985_372342.JPG,0,0,0,0,0,1,0
244,75235_366942.JPG,0,0,0,0,0,1,0
0,76089_1084777.JPG,0,0,1,0,0,0,0
1,76091_1084792.JPG,0,0,0,0,0,1,0
2,76075_1084662.JPG,0,1,0,0,0,0,0