In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/assigned_classes_Arjun.csv')
df

,img,other,external,canon_OD,canon_OS,left_internal,right_internal
0,275347_1841447.JPG,0,0,0,0,0,1
1,275953_1846181.JPG,1,0,0,0,0,0
2,276001_1846612.JPG,1,0,0,0,0,0
3,275738_1844635.JPG,0,0,0,1,0,0
4,276575_1851317.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
2995,279218_1871173.JPG,1,0,0,0,0,0
2996,279385_1872264.JPG,0,1,0,0,0,0
2997,279413_1872492.jpg,1,0,0,0,0,0
2998,279413_1872493.jpg,1,0,0,0,0,0
2999,279445_1872749.jpg,0,1,0,0,0,0

In [4]:
df.rename(columns={'other':'Other','external':"Exterior","right_internal":"Interior_Right","left_internal":"Interior_Left","canon_OS":"Canon_Left","canon_OD":"Canon_Right"}, inplace=True)
df

,img,Other,Exterior,Canon_Right,Canon_Left,Interior_Left,Interior_Right
0,275347_1841447.JPG,0,0,0,0,0,1
1,275953_1846181.JPG,1,0,0,0,0,0
2,276001_1846612.JPG,1,0,0,0,0,0
3,275738_1844635.JPG,0,0,0,1,0,0
4,276575_1851317.JPG,0,0,0,1,0,0
...,...,...,...,...,...,...,...
2995,279218_1871173.JPG,1,0,0,0,0,0
2996,279385_1872264.JPG,0,1,0,0,0,0
2997,279413_1872492.jpg,1,0,0,0,0,0
2998,279413_1872493.jpg,1,0,0,0,0,0
2999,279445_1872749.jpg,0,1,0,0,0,0

In [5]:
df['Grader'] = 'Arjun'
df

,img,Other,Exterior,Canon_Right,Canon_Left,Interior_Left,Interior_Right,Grader
0,275347_1841447.JPG,0,0,0,0,0,1,Arjun
1,275953_1846181.JPG,1,0,0,0,0,0,Arjun
2,276001_1846612.JPG,1,0,0,0,0,0,Arjun
3,275738_1844635.JPG,0,0,0,1,0,0,Arjun
4,276575_1851317.JPG,0,0,0,1,0,0,Arjun
...,...,...,...,...,...,...,...,...
2995,279218_1871173.JPG,1,0,0,0,0,0,Arjun
2996,279385_1872264.JPG,0,1,0,0,0,0,Arjun
2997,279413_1872492.jpg,1,0,0,0,0,0,Arjun
2998,279413_1872493.jpg,1,0,0,0,0,0,Arjun
2999,279445_1872749.jpg,0,1,0,0,0,0,Arjun

In [7]:
df['Other'].sum()

1960

In [8]:
df['Exterior'].sum()

724

In [9]:
df['Canon_Right'].sum()

87

In [11]:
df['Canon_Left'].sum()

115

In [12]:
df['Interior_Left'].sum()

58

In [13]:
df['Interior_Right'].sum()

56

In [14]:
df.to_csv("/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/total_Arjun.csv")